<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:clath="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
  <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
  <form th:action="@{/members/findPW}" th:object="${memberDto}" method="post">
    <div class="middle-container">
      <h1 class="title">비밀번호 찾기</h1>
      <div class="findBox">
        <label>아이디</label>
        <input type="text" th:field="*{email}">
      </div>
      <div class="findBox">
        <label>이름</label>
        <input type="text" th:field="*{name}">
      </div>
      <div class="bankBookButton">
        <input type="submit" value="확인">
      </div>
    </div>
  </form>
</th:block>
</body>
</html>