<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:clath="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>아이디찾기</title>
    <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/member.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
    <form th:action="@{/members/findID}" th:object="${memberDto}" method="post">
        <div class="middle-container">
            <h1 class="title find">아이디 찾기</h1>
            <div class="findBox">
                <div class="form-group findMargin">
                    <input type="text" th:field="*{name}"  class="form-control text-center" placeholder="이름" required autofocus>
                </div>
            </div>
            <div class="findBox">
                <div class="form-group findMargin">
                    <input type="text" th:field="*{phone}" class="form-control text-center" placeholder="전화번호" required>
                </div>
            </div>
            <div class="findID-button-box">
                <button type="submit" class="btn-sol form-control">확인</button>
            </div>
        </div>
    </form>
</th:block>
</body>
</html>