<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:clath="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/member.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
    <form th:action="@{/members/join}" th:object="${joinForm}" onsubmit="return makeAdd()" method="post" name="frm">
<!--        <div th:replace="form_errors :: formErrorsFragment"></div>-->
        <div class="middle-container">
            <h1>회원가입</h1>
            <div class="form-group">
                <label th:for="email" class="form-label font-bold">이메일<span class="essential">*</span></label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요">
                <span class="text-err" id="emailChk"></span>
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호<span class="essential">*</span></label>
                <input type="password"  th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요.">
                <span class="text-err" id="password1Chk"></span>
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호 확인<span class="essential">*</span></label>
                <input type="password"  th:field="*{password2}" class="form-control" placeholder="비밀번호를 입력하세요.">
                <span class="text-err" id="password2Chk"></span>
            </div>
            <div class="form-group">
                <label th:for="name">이름<span class="essential">*</span></label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요.">
            </div>
            <div class="form-group">
                <label th:for="nickname">닉네임<span class="essential">*</span></label>
                <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요.">
                <span class="text-err" id="nicknameChk"></span>
            </div>
            <div class="form-group">
                <label th:for="phone">전화번호<span class="essential">*</span></label>
                <input type="text" th:field="*{phone}" class="form-control" placeholder="예 : 01012345678">
                <span class="text-err" id="phoneChk"></span>
            </div>
            <div class="form-group">
                <label th:for="gender">성별<span class="essential">*</span></label>
                <div th:each="type : ${genders}" class="form-check form-check-inline">
                    <input type="radio" th:field="*{gender}" th:value="${type.name()}" class="form-check-input">
                    <label th:for="${#ids.prev('gender')}" th:text="${type.description}" class="form-check-label">남자</label>
                </div>
            </div>
            <div class="form-group">
                <label th:for="photo">프로필사진</label>
                <input type="file" th:field="*{photo}">
            </div>
            <div class="form-group">
                <label th:for="address">주소<span class="essential">*</span></label>
                <input type="text" th:field="*{address}" id="searchAddress" onclick="findAdd()" placeholder="클릭해서 주소 검색하기" readonly>
                <input type="text" th:field="*{address2}" id="detailAddress" placeholder="상세주소 입력해주세요">
                <span class="text-err" id="addressChk"></span>
            </div>
            <div class="button-box">
                <input type="submit" value="가입하기">
            </div>
        </div>
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function findAdd(){
            new daum.Postcode({
                oncomplete: function(data) {
                    let addr="";

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }
                    document.getElementById('searchAddress').value = addr;
                    document.getElementById('detailAddress').focus();
                }
            }).open();
        };
    </script>

    <!--필수 입력, 중복체크 jQuery-->
    <script type="text/javascript">
        $(function(){
            $('#email').blur(function(){
                let email = $('#email').val();
                $.ajax({
                    url:'/members/checkRealize',
                    type: 'get',
                    data:{"value":email},
                    success:function(data){
                        if (email == ""){
                            $('#emailChk').text("이메일은 필수 입력사항입니다.");
                            $('#email').focus();
                        } else if (email.indexOf("@") == -1 || email.indexOf(".") == -1){
                            $('#emailChk').text("이메일 형식으로 입력해주세요.");
                            $('#email').focus();
                        } else if (data.includes("이미")){
                            $('#emailChk').html(data);
                            $('#emailChk').css('color', 'red');
                            $('#email').focus();
                        } else {
                            $('#emailChk').html(data);
                            $('#emailChk').css('color', 'black');
                        }
                    }
                });
            });
            $('#nickname').blur(function(){
                let nickname = $('#nickname').val();
                $.ajax({
                    url:'/members/checkRealize',
                    type: 'get',
                    data:{"value":nickname},
                    success:function(data){
                        if (nickname == ""){
                            $('#nicknameChk').text("닉네임은 필수 입력사항입니다.");
                            $('#nicknameChk').css('color', 'red');
                            $('#nickname').focus();
                        } else if (data.includes("이미") || data.includes("제외한")) {
                            $('#nicknameChk').html(data);
                            $('#nicknameChk').css('color', 'red');
                            $('#nickname').focus();
                        } else {
                            $('#nicknameChk').html(data);
                            $('#nicknameChk').css('color', 'black');
                        }
                    }
                });
            });
            $('#password').blur(function (){
                let password1 = $('#password').val();
                if (password1.length < 8 || password1.length > 20) {
                    $('#password1Chk').text("비밀번호는 8자 이상, 20자 이하입니다.");
                    $('#password').focus();
                } else if (password1.length >= 8 || password1.length <= 20 ){
                    $('#password1Chk').text(" ");
                    $('#password2').focus();
                }
            });
            $('#password2').blur(function (){
                let password1 = $('#password').val();
                let password2 = $('#password2').val();
                $.ajax({
                    url: '/members/passwordRealize',
                    type: 'get',
                    data: {"password1": password1, "password2": password2},
                    success: function (data) {
                        if (password1 == "") {
                            $('#password1Chk').text("비밀번호는 필수 입력사항입니다.");
                            $('#password1Chk').css('color', 'red');
                            $('#password').focus();
                        } else if (password2 == "") {
                            $('#password2Chk').text("비밀번호는 필수 입력사항입니다.");
                            $('#password2Chk').css('color', 'red');
                            $('#password2').focus();
                        } else if (data.includes("않습니다.")){
                            $('#password2Chk').html(data);
                            $('#password2Chk').css('color', 'red');
                            $('#password2').focus();
                        } else {
                            $('#password2Chk').html(data);
                            $('#password2Chk').css('color', 'black');
                        }
                    }
                });
            });
            $('#phone').blur(function (){
               let phone = $('#phone').val();
               let regExp = /^(01[016789])(\d{3,4})(\d{4})$/;
               if (!regExp.test(phone)){
                   $('#phoneChk').text("전화번호 형식이 잘못되었습니다. (예: 01012345678)");
                   $('#phone').focus();
               } else if (regExp.test(phone)){
               $('#phoneChk').text(" ");
               }
            });
        });

        function makeAdd(){
            let add1 = $('#searchAddress').val();
            let add2 = $('#detailAddress').val();

            if(add1 == "" || add2 == ""){
                $('#addressChk').html("주소를 입력해주세요");
                return false;
            } else {
                return true;
            }
        };
    </script>

</th:block>
</body>
</html>
