<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}"
      xmlns:clath="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/member.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
    <form th:action="@{/members/join}" th:object="${joinForm}" onsubmit="return makeAdd()" method="post" name="frm" enctype="multipart/form-data">
<!--        <div th:replace="form_errors :: formErrorsFragment"></div>-->
        <div class="narrow-middle-container">
            <h1>회원가입</h1>
            <div class="flex_group">
                <div class="form-group myInfo">
                    <div class="image_container" id="image_container"></div>
                    <div class="take_container">
                        <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                        <label class="photoLabel" th:for="photo">프로필사진</label>
                    </div>
                    <input type="file" class="form-control form-control-sm" onchange="setImage(event);" style="margin:0 auto; width:30%;" name="file" id="photo" accept="/image/*">
                    <span id="photoErr" class="photo-text-err"></span>
                </div>

                <div class="form-group myInfo">
                    <div class="labelBox">
                        <label class="label" th:for="email">이메일<span class="essential">*</span></label>
                    </div>
                    <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"><br>
                    <span class="text-err" id="emailChk"></span>
                </div>
                <div class="form-group myInfo">
                    <div class="labelBox">
                        <label class="label" th:for="password">비밀번호<span class="essential">*</span></label>
                    </div>
                    <input type="password"  th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요."><br>
                    <span class="text-err" id="password1Chk"></span>
                </div>
                <div class="form-group myInfo">
                    <div class="labelBox">
                        <label class="label" th:for="password">비밀번호 확인<span class="essential">*</span></label>
                    </div>
                    <input type="password"  th:field="*{password2}" class="form-control" placeholder="비밀번호를 한번 더 입력하세요."><br>
                    <span class="text-err" id="password2Chk"></span>
                </div>
                <div class="form-group myInfo">
                    <div class="labelBox">
                        <label class="label" th:for="name">이름<span class="essential">*</span></label>
                    </div>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요."><br>
                </div>
                <div class="form-group myInfo">
                    <div class="labelBox">
                        <label class="label" th:for="nickname">닉네임<span class="essential">*</span></label>
                    </div>
                    <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요."><br>
                    <span class="text-err" id="nicknameChk"></span>
                </div>
                <div class="form-group myInfo">
                    <div class="labelBox">
                        <label class="label" th:for="phone">전화번호<span class="essential">*</span></label>
                    </div>
                    <input type="text" th:field="*{phone}" class="form-control" placeholder="예 : 01012345678"><br>
                    <span class="text-err" id="phoneChk"></span>
                </div>
                <div class="form-group myInfo">
                    <div class="take_container">
                        <div class="labelBox">
                            <label class="label" th:for="gender">성별<span class="essential">*</span></label>
                        </div>
                        <div class="genderBox">
                            <div th:each="type : ${genders}" class="form-check form-check-inline">
                            <input type="radio" th:field="*{gender}" th:value="${type.name()}" class="form-check-input">
                            <label th:for="${#ids.prev('gender')}" th:text="${type.description}" class="form-check-label">남자</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group myInfo">
                    <div class="take_container">
                        <div class="labelBox">
                            <label class="label" th:for="address">주소<span class="essential">*</span></label>
                        </div>
                        <div class="join_addressBox">
                            <input type="text" th:field="*{address}" id="searchAddress" onclick="findAdd()" placeholder="클릭해서 주소검색" readonly>
                            <input type="text" th:field="*{address2}" id="detailAddress" placeholder="상세주소 입력">
                        </div><br>
                        <span class="text-err" id="addressChk"></span>
                    </div>
                </div>
                <div class="myInfo-button-box">
                    <input type="submit" id="joinButton" value="가입하기">
                </div>
            </div>
        </div>
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function findAdd(){
            new daum.Postcode({
                oncomplete: function(data) {
                    let addr="";

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }
                    document.getElementById('searchAddress').value = addr;
                    document.getElementById('detailAddress').focus();
                }
            }).open();
        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--필수 입력, 중복체크 jQuery-->
    <script type="text/javascript">
        $(function(){
            $('#email').blur(function(){
                let email = $('#email').val();
                $.ajax({
                    url:'/members/checkRealize',
                    type: 'get',
                    data:{"value":email},
                    success:function(data){
                        if (email == ""){
                            $('#emailChk').text("이메일은 필수 입력사항입니다.");
                            $('#email').focus();
                        } else if (email.indexOf("@") == -1 || email.indexOf(".") == -1){
                            $('#emailChk').text("이메일 형식으로 입력해주세요.");
                            $('#email').focus();
                        } else if (data.includes("이미")){
                            $('#emailChk').html(data);
                            $('#emailChk').css('color', 'red');
                            $('#email').focus();
                        } else {
                            $('#emailChk').html(data);
                            $('#emailChk').css('color', 'black');
                        }
                    }
                });
            });
            $('#nickname').blur(function(){
                let nickname = $('#nickname').val();
                $.ajax({
                    url:'/members/checkRealize',
                    type: 'get',
                    data:{"value":nickname},
                    success:function(data){
                        if (nickname == ""){
                            $('#nicknameChk').text("닉네임은 필수 입력사항입니다.");
                            $('#nicknameChk').css('color', 'red');
                            $('#nickname').focus();
                        } else if (data.includes("이미") || data.includes("제외한")) {
                            $('#nicknameChk').html(data);
                            $('#nicknameChk').css('color', 'red');
                            $('#nickname').focus();
                        } else {
                            $('#nicknameChk').html(data);
                            $('#nicknameChk').css('color', 'black');
                        }
                    }
                });
            });
            $('#password').blur(function (){
                let password1 = $('#password').val();
                if (password1.length < 8 || password1.length > 20) {
                    $('#password1Chk').text("비밀번호는 8자 이상, 20자 이하입니다.");
                    $('#password').focus();
                } else if (password1.length >= 8 || password1.length <= 20 ){
                    $('#password1Chk').text(" ");
                    $('#password2').focus();
                }
            });
            $('#password2').blur(function (){
                let password1 = $('#password').val();
                let password2 = $('#password2').val();
                $.ajax({
                    url: '/members/passwordRealize',
                    type: 'get',
                    data: {"password1": password1, "password2": password2},
                    success: function (data) {
                        if (password1 == "") {
                            $('#password1Chk').text("비밀번호는 필수 입력사항입니다.");
                            $('#password1Chk').css('color', 'red');
                            $('#password').focus();
                        } else if (password2 == "") {
                            $('#password2Chk').text("비밀번호는 필수 입력사항입니다.");
                            $('#password2Chk').css('color', 'red');
                            $('#password2').focus();
                        } else if (data.includes("않습니다.")){
                            $('#password2Chk').html(data);
                            $('#password2Chk').css('color', 'red');
                            $('#password2').focus();
                        } else {
                            $('#password2Chk').html(data);
                            $('#password2Chk').css('color', 'black');
                        }
                    }
                });
            });
            $('#phone').blur(function (){
               let phone = $('#phone').val();
               let regExp = /^(01[016789])(\d{3,4})(\d{4})$/;
               if (!regExp.test(phone)){
                   $('#phoneChk').text("전화번호 형식이 잘못되었습니다. (예: 01012345678)");
                   $('#phone').focus();
               } else if (regExp.test(phone)){
               $('#phoneChk').text(" ");
               }
            });
        });

        /* 프로필 사진 미리보기 */
        function setImage(event) {
            let profilePhoto = document.getElementById("photo");
            let photoErr = document.getElementById("photoErr");
            let fileVal = $('#photo').val();
            let photoVal = fileVal.slice(fileVal.indexOf(".")+1).toLowerCase();
            let imgTag = $("#imgTag");

            if ( fileVal == null || fileVal == "" ){
                imgTag.remove();
                // photoErr.innerText="사진을 선택해주세요!";
                $('#photo').val("");
                $('.upload-name').val("");
            } else if (photoVal != "jpg" && photoVal != "png" && photoVal != "jpeg" && photoVal != "gif") {
                photoErr.innerText="확장자가 jpg, png, jpeg, gif 파일만 가능합니다";
                profilePhoto.focus();
                imgTag.remove();
                $('#photo').val("");
                $('.upload-name').val("");
            } else {
                $('#image_container').css("display", "block");
                let img = document.createElement("img");
                let reader = new FileReader();

                function readerOnload() {
                    reader.onload = function (e) {
                        img.setAttribute("src", e.target.result);
                        img.setAttribute("width", "400");
                        img.setAttribute("height", "200");
                        img.setAttribute("id", "imgTag");
                        photoErr.innerText="";
                        $('.upload-name').val(fileVal);
                        document.querySelector("div#image_container").appendChild(img);
                    };
                    reader.readAsDataURL(event.target.files[0]);
                }

                if (imgTag.length){
                    imgTag.remove();
                    readerOnload();
                } else {
                    readerOnload();
                }
            }
        };

        // function del(){
        //     $('#photo').val("");
        //     $('.upload-name').remove();
        // }

        /* 주소 작성 여부 검사 */
        function makeAdd(){
            let add1 = $('#searchAddress').val();
            let add2 = $('#detailAddress').val();

            if(add1 == "" || add2 == ""){
                $('#addressChk').html("주소를 입력해주세요");
                return false;
            } else {
                return true;
            }
        };
    </script>

</th:block>
</body>
</html>
