<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments/adminCommonTest2 :: head('관리자페이지')"></head>

<body>
    <!-- 사이드 바 -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('dashBoard')"></div>

    <!-- 헤더  -->
    <section th:replace="layouts/fragments/adminCommonTest2 :: header('대시보드')"> </section>

    <!-- 내용 -->
    <!-- dashboard start -->
    <div class="main-section">
    <div class="main-content">
        
       
          
    </div>
    </div>
    <!-- section end tag 있어야 함  -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>

</html>