<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments/adminCommonTest2 :: head('회원정보')"></head>
<body>
    <!-- 사이드 바 -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('memberList')"></div>

    <!-- 헤더  -->
    <section th:replace="layouts/fragments/adminCommonTest2 :: header('회원정보')"> </section>


    <div class="main-section">
        <!-- 회원 정보 -->
        <div th:replace="admin/memberDetail :: memberInfo"></div>
        <!-- 내비바 -->
        <div th:replace="admin/memberDetail :: memberInfoNav('teamAskBoard')"></div>
        
        <div class="title-section">
          <span>스터디 문의글</span>
        </div>
        <table class="table caption table-hover">
            <caption>총 문의글 수 : <span th:text="${memberMap.teamAskBoards.size}">게시글 수</span></caption>
            <thead>
              <tr class="tableHeader">
                <th scope="col">공개범위</th>
                <th scope="col">번  호</th>
                <th scope="col">작성일</th>
                <th scope="col">제목</th>
                <th scope="col">스터디번호</th>
                <th scope="col">답변여부</th>
                <th scope="col">보기</th>
              </tr>
            </thead>
            <tbody>
                <tr class="no-data" th:if="${memberMap.teamAskBoards.size} == 0">
                    <th colspan="7">작성된 스터디 문의글이 없습니다</th>
                </tr>
              <tr th:each="teamAskBoard : ${memberMap.teamAskBoards}">
                <th th:text="${teamAskBoard.secret}" th:classappend="${teamAskBoard.secret.toString == 'SECRET'} ? 'adminColor'">번호</th>
                <th th:text="${teamAskBoard.tano}">번호</th>
                <td th:text="${#temporals.format(teamAskBoard.teamAskDate, 'yyyy-MM-dd')}">작성일</td>
                <td th:text="${teamAskBoard.teamAskSubject}">제목</td>
                <th>
                  <a class="member-link" th:text="${teamAskBoard.team.tno}" th:href="@{/admin/teamDetail(tno=${teamAskBoard.team.tno})}">스터디번호</a>
                </th>
                <td th:if="${teamAskBoard.teamAskBoardReplies.size} == 0">미완료</td>
                <td th:if="${teamAskBoard.teamAskBoardReplies.size} != 0">완료</td>
                <td>
                  <a class="member-link" th:href="@{/admin/teamAskBoardDetail(tano=${teamAskBoard.tano})}">확인</a>
                </td>
              </tr>
            </tbody>
          </table>
        

    </div>

    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>
</html>