<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments/adminCommonTest2 :: head('회원정보')"></head>

<body>
    <!-- 사이드 바 -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('memberList')"></div>

    <!-- 헤더  -->
    <section th:replace="layouts/fragments/adminCommonTest2 :: header('회원정보')"> </section>


    <div class="main-section">
        <!-- 회원 정보 -->
        <div th:replace="admin/memberDetail :: memberInfo"></div>
        <!-- 내비바 -->
        <div th:replace="admin/memberDetail :: memberInfoNav('like')"></div>
        <!-- 탭 -->
        
        <div class="title-section">
            <span>팀 좋아요 목록</span>&nbsp;<span th:text="${memberMap.member.likes.size}">좋아요 수</span>
        </div>
        <div class="main-content likes">
            <div class="card" style="width: 18rem;" th:each="like : ${memberMap.member.likes}" th:if="${memberMap.member.likes.size} != 0">
                <img src="..." class="card-img-top" alt="..." th:src="|\images\teamPhotos\${like.team.teamName}\${like.team.teamPhoto}|">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${like.team.teamName}" style="font-size: 18px; color:black;">팀명</li>
                        <a class="list-group-item" th:href="@{/admin/teamDetail(tno=${like.team.tno})}">
                            <span>상세보기</span>
                        </a>
                    </ul>
                </div>
            </div>
        </div> <!-- 콘텐츠 영역 end-->
    </div>

    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>

</html>