<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments/adminCommonTest2 :: head('회원정보')"></head>

<body>
    <!-- 사이드 바 -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('memberList')"></div>

    <!-- 헤더  -->
    <section th:replace="layouts/fragments/adminCommonTest2 :: header('회원정보')"> </section>


    <div class="main-section">
        <!-- 회원 정보 -->
        <div th:replace="admin/memberDetail :: memberInfo"></div>
        <!-- 내비바 -->
        <div th:replace="admin/memberDetail :: memberInfoNav('checkBoard')"></div>
        <!-- 탭 -->
        
        <div class="title-section">
            <span>인증글 목록</span>
        </div>
        <div class="main-content">
            
        </div> <!-- 콘텐츠 영역 end-->
    </div>

    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>

</html>