<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments/adminCommonTest2 :: head('회원정보')"></head>

<body>
      <!-- 사이드 바 -->
      <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('memberList')"></div>

      <!-- 헤더  -->
      <section th:replace="layouts/fragments/adminCommonTest2 :: header('회원정보')"> </section>
      

    <div class="main-section">
        <div class="main-info-content">
            <div class="btn-over">
                <a th:href="@{/admin/memberList?page=} + ${pageNum}" class="btn btn-outline-success">확인</a>
                <a th:href="@{/admin/memberDelete(mno=${member.mno})}" class="btn btn-outline-danger" th:if="${member.memberDelete} == ${deleteFalse}">삭제</a>
                <a th:href="@{/admin/memberRecover(mno=${member.mno})}" class="btn btn-outline-info" th:if="${member.memberDelete} != ${deleteFalse}">복구</a>
            </div>
        </div>
        <div class="main-content">
         <div id="memberinfo">
            <img class="img-thumbnail img-over" style="width: 200px; height: 200px; object-fit: contain;">
            <div class="memberinfo_start">
                <div class="memberinfo_Row">
                    <div class="infoData">
                        <label for="mno" class="form-label">회원번호</label>
                        <span th:text="${member.mno}"></span>
                    </div>
                    <div class="infoData">
                        <label for="email" class="form-label">이메일</label>
                        <span th:text="${member.email}"></span>
                    </div>
                    <div class="infoData">
                        <label for="name" class="form-label">이름</label>
                        <span th:text="${member.name}"></span>
                    </div>
                    <div class="infoData">
                        <label for="gender" class="form-label">권한</label>
                        <span th:text="${member.role}"></span>
                    </div>
                    <div class="infoData">
                        <label for="address" class="form-label">주소</label>
                        <span th:text="${member.address}"></span>
                    </div>
                </div>
                <div class="memberinfo_Row">
                    <div class="infoData">
                        <label for="gender" class="form-label">성별</label>
                        <span th:text="${member.gender}"></span>
                    </div>
                    <div class="infoData">
                        <label for="phone" class="form-label">전화번호</label>
                        <span th:text="${member.phone}"></span>
                    </div>
                    <div class="infoData">
                        <label for="nickname" class="form-label">닉네임</label>
                        <span th:text="${member.nickname}"></span>
                    </div>
                    <div class="infoData">
                        <label for="memberDelete" class="form-label">탈퇴여부</label>
                        <span th:text="${member.memberDelete}"></span>
                    </div>
                    <div class="infoData">
                        <label for="memberDate" class="form-label">가입날짜</label>
                        <span th:text="${memberDate}"></span>
                    </div>
                </div>
            </div>
        </div>  <!-- 기본 회원 정보 end-->

        
        

    
        

        
    </div>
</div>

       
    


    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>

</html>