<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments/adminCommonTest2 :: head('팀목록')"></head>

<body>
    <!-- 사이드 바 -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('teamList')"></div>

    <!-- 헤더  -->
    <section th:replace="layouts/fragments/adminCommonTest2 :: header('팀목록')"> </section>

   
    <div class="main-list-section">
    <div class="main-list-content">
      <div class="search-box">
        <form action="#" th:action="@{/admin/teamList}" method="GET">
          <input type="text" placeholder="Search..." aria-label="검색" name="keyword" id="keyword" th:value="${param.keyword}">
        </form>
        <i class='bx bx-search' ></i>
      </div>
        <table class="table caption table-hover">
            <caption>총 스터디 수 : <span th:text="${teams.totalElements}">스터디 수</span></caption>
            <thead>
              <tr class="tableHeader">
                <th scope="col">번  호</th>
                <th scope="col">팀  장</th>
                <th scope="col">예치금</th>
                <th scope="col">스터디명</th>
                <th scope="col">모집인원</th>
                <th scope="col">생성날짜</th>
                <th scope="col">확인</th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${teams.totalElements} == 0">
                <th colspan="7" style="text-align: center;">생성된 스터디가 없습니다.</th>
              </tr>
              <tr th:each="team : ${teams}">
                <th th:text="${team.tno}">번호</th>
                <td th:text="${team.member.nickname}">팀장</td>
                <td th:text="${team.teamDeposit}">예치금</td>
                <td th:text="${team.teamName}">스터디명</td>    
                <td th:text="${team.teamVolume}">모집인원</td>
                <td th:text="${team.teamDate}">생성날짜</td>
                <td><a th:href="@{/admin/teamDetail(tno=${team.tno}, pageNum=${teams.pageable.pageNumber})}">보기</a></td>    
              </tr>
            </tbody>
          </table>
          <!-- 페이징 -->
          <div class="page-in" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" th:classappend="${1 == teams.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/admin/teamList(page=${teams.pageable.pageNumber - 1})}"><</a>
              </li>
              <li class="page-item" th:classappend="${i == teams.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/admin/teamList(page=${i - 1})}" th:text="${i}">1</a>
              </li>
              <li class="page-item" th:classappend="${teams.totalPages == teams.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/admin/teamList(page=${teams.pageable.pageNumber + 1})}">></a>
              </li>
            </ul>
          </div>
    </div>
  </div>




    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>

</html>