<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments/adminCommonTest2 :: head('스터디정보')"></head>

<body>
      <!-- 사이드 바 -->
      <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('teamList')"></div>

      <!-- 헤더  -->
      <section th:replace="layouts/fragments/adminCommonTest2 :: header('스터디정보')"> </section>

    <div class="main-content">
         <!-- 기본 회원 정보 start -->
         <div id="memberinfo">
            <img class="mb-3 img-thumbnail" style="width: 200px; height: 200px; object-fit: contain;">
            <div class="memberinfo_start">
                <div class="memberinfo_Row">
                    <div class="infoData">
                        <label for="mno" class="form-label">스터디번호</label>
                        <p th:text="${team.tno}"></p>
                    </div>
                    <div class="infoData">
                        <label for="email" class="form-label">스터디명</label>
                        <p th:text="${team.teamName}"></p>
                    </div>
                    <div class="infoData">
                        <label for="gender" class="form-label">모집인원</label>
                        <p th:text="${team.teamVolume}"></p>
                    </div>
                    <div class="infoData">
                        <label for="gender" class="form-label">예치금</label>
                        <p th:text="${team.teamDeposit}"></p>
                    </div>
                    <div class="infoData">
                        <label for="name" class="form-label">카테고리[대]</label>
                        <p th:text="${team.teamCategory1}"></p>
                    </div>
                    <div class="infoData">
                        <label for="name" class="form-label">카테고리[중]</label>
                        <p th:text="${team.teamCategory2}"></p>
                    </div>
                    <div class="infoData">
                        <label for="name" class="form-label">카테고리[소]</label>
                        <p th:text="${team.teamCategory3}"></p>
                    </div>
                    <div class="infoData">
                        <label for="gender" class="form-label">개설날짜</label>
                        <p th:text="${team.teamDate}"></p>
                    </div>
                    <div class="infoData">
                        <label for="address" class="form-label">시작날짜</label>
                        <p th:text="${team.startDate}"></p>
                    </div>
                    <div class="infoData">
                        <label for="address" class="form-label">끝날짜</label>
                        <p th:text="${team.endDate}"></p>
                    </div>
                    <div class="infoData">
                        <label for="address" class="form-label">소개글</label>
                        <p th:text="${team.teamIntroduce}"></p>
                    </div>
                    <div class="infoData">
                        <label for="address" class="form-label">소개사진</label>
                        <p th:text="${team.teamPhoto}"></p>
                    </div>
                    <div class="infoData">
                        <label for="address" class="form-label">삭제여부</label>
                        <p th:text="${team.teamDelete}"></p>
                    </div>
                </div>
            </div>
        </div>  <!-- 기본 회원 정보 end-->

        <div class="text-end mb-3">
            <a type="button" class="btn btn-sm btn-danger" th:href="@{/admin/teamList?page=} + ${pageNum}">확인</a>
            <a th:href="@{/admin/teamDelete(tno=${team.tno})}" class="btn btn-sm btn-outline-dark">삭제</a>
        </div>
    </div>

       
    


    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>
</body>

</html>