<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments/adminCommonTest2 :: head('스터디정보')"></head>

<body>
    <!-- 사이드 바 -->
    <div th:replace="layouts/fragments/adminCommonTest2 :: sidebar('teamList')"></div>

    <!-- 헤더  -->
    <section th:replace="layouts/fragments/adminCommonTest2 :: header('스터디정보')"> </section>

    <div class="main-section">
        <div class="main-info-content" th:fragment="teamInfo">
            <div class="info-Row">
                <div class="info-data">
                    <label>팀번호</label>
                    <span th:text="${team.tno}">팀번호</span>
                </div>

                <div class="info-data">
                    <label>팀장번호</label>
                    <span th:text="${team.member.mno}">팀장번호</span>
                </div>
                <div class="info-data">
                    <label>팀장이메일</label>
                    <span th:text="${team.member.email}">팀장이메일</span>
                </div>
                <div class="info-data">
                    <label>팀장닉네임</label>
                    <span th:text="${team.member.nickname}">팀장닉네임</span>
                </div>
                <div class="info-data">
                    <label>팀장이름</label>
                    <span th:text="${team.member.name}">팀장이름</span>
                </div>
            </div>
            <div class="btn-over">
                <a th:href="@{/admin/memberDetail(mno=${team.member.mno})}" class="btn btn-primary">회원정보</a>
                <a th:href="@{/admin/teamList?page=} + ${pageNum}" class="btn btn-outline-success">목록</a>
                <a th:href="@{/admin/teamDeleteAndRecover(tno=${team.tno}, text='delete')}" class="btn btn-outline-danger"
                    th:if="${team.teamDelete.toString} == 'FALSE'" th:onclick="|deleteTeam(${team.tno})|">삭제</a>
                <a th:href="@{/admin/teamDeleteAndRecover(tno=${team.tno}, text='recover')}" class="btn btn-outline-info"
                    th:if="${team.teamDelete.toString} != 'FALSE'" th:onclick="|recoverTeam(${team.tno})|">복구</a>
            </div>
        </div>
        <div class="main-info-nav" th:fragment="teamInfoNav(teamInfoNav)">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/teamDetail(tno=${team.tno}, pageNum=${pageNum})}"
                        th:classappend="${teamInfoNav} == null? 'active'">기본</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/teamBankbook(tno=${team.tno}, pageNum=${pageNum})}"
                        th:classappend="${teamInfoNav} == 'bankbook'? 'active'">통장</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/teamCheckBoard(tno=${team.tno}, pageNum=${pageNum})}"
                        th:classappend="${teamInfoNav} == 'checkBoard'? 'active'">인증글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/teamAskBoard(tno=${team.tno}, pageNum=${pageNum})}"
                        th:classappend="${teamInfoNav} == 'askBoard'? 'active'">문의글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/teamInMember(tno=${team.tno}, pageNum=${pageNum})}"
                        th:classappend="${teamInfoNav} == 'teamInMember'? 'active'">가입인원</a>
                </li>
            </ul>
        </div>

        <div class="main-content teamDetail">
            <!-- 기본 회원 정보 start -->
            <div class="imgSize">
                <img class="mb-3 img-thumbnail" th:src="|\images\teamPhotos\${team.teamName}\${team.teamPhoto}|">
            </div>
            <div class="teamNameAndLeader">
                <div class="dataOutput">
                    <img th:src="${team.member.getPhotoViewPath}">
                    <span class="leaderName" th:text="${team.member.name}"></span>
                    <span class="teamName" th:text="${team.teamName}"></span>
                </div>
                <div class="teamCategory">
                    <span th:text="${team.teamCategory1}"></span>
                    <span th:text="${team.teamCategory2}"></span>
                    <span th:text="${team.teamCategory3}"></span>
                    <span th:text="${team.teamDate}"></span>

                </div>
            </div>
            <div class="teamIntroduce">
                <pre><span th:text="${team.teamIntroduce}"></span></pre>

                <div class="teamInfo">
                    <span class="teamGuidelines">안내사항</span>
                    <span class="teamDescription">자세한 정보를 알려드릴게요</span>
                    <div class="teamInfoStart">
                        <div class="teamInfoData">
                            <i class='bx bx-id-card'></i>
                            <span th:text="|${team.tno}번|"></span>
                        </div>

                        <div class="teamInfoData">
                            <i class='bx bx-group'></i>
                            <span th:text="|${team.teamVolume}명|"></span>
                        </div>

                        <div class="teamInfoData">
                            <i class='bx bx-credit-card' ></i>
                            <span th:text="|${team.teamDeposit}0.000원|"></span>
                        </div>

                        <div class="teamInfoData">
                            <i class='bx bx-calendar-alt' ></i>
                            <span th:text="${team.startDate}"></span>
                            <i class='bx bx-calendar-check' ></i>
                            <span th:text="${team.endDate}"></span>
                        </div>
                        
                        <div class="teamInfoData">
                            <i class='bx bx-heart' ></i>
                            <span th:text="|${team.likes.size}개|"></span>
                        </div>

                        <div class="teamInfoData">
                            <i class='bx bx-folder-minus' ></i>
                            <span th:text="${team.teamDelete}"></span>
                        </div>

                        
                    </div>
                </div>
            </div>



            <!-- <div class="text-end">
            <a type="button" onclick="back()" class="btn btn-sm">돌아가기</a>
            <a type="button" class="btn btn-sm btn-danger" th:href="@{/admin/teamList?page=} + ${pageNum}">목록보기</a>
            <a th:href="@{/admin/teamDelete(tno=${team.tno})}" class="btn btn-sm btn-outline-dark">삭제</a>
        </div> -->
        </div>
    </div>





    <div th:replace="layouts/fragments/adminCommonTest2 :: script"></div>

    <script>
        function deleteTeam(tno) {
            alert("ID : "+ tno + "번 팀이 삭제되었습니다");
        }

        function recoverTeam(tno) {
            alert("ID : "+ tno + "번 팀이 복구되었습니다");
        }
    
    </script>
</body>

</html>