<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- searchPage css -->
<link th:href="@{/css/searchPage.css}" rel="stylesheet" type="text/css" />
<!-- searchPage script -->
<script type="text/javascript" src="/js/searchPage.js"></script>
</head>
<body>
	<!-- 본문 코드 시작 -->
	<th:block layout:fragment="content">
	<div class="mainContainer">
		<section class="searchSection">
			<div class="mainSearch">
			<div class="mainSearchTitle" align="center">모두의 습관</div>
				<!-- 검색창 -->
				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/search" method="get" onsubmit="return searchChk()">
					<div class="mainSearchInput">
						<input type="hidden" id="filter2main" name="filter2" th:value="${filter2}">
						<input type="hidden" id="filter1main" name="filter1" th:value="${filter1}">
						<input type="search" class="form-control" id="mainSearch" placeholder="지키고 싶은 습관을 입력해보세요 :)" aria-label="Search" name="keyword" th:value="${keyword}">
						<input type="submit" class="mainSearchImg" name="submit" value="">
					</div>
				</form>
			</div>
		</section>
		<section class="filterSection">
			<!-- 필터1 -->
			<form th:action="@{/search}" role="form" method="get" id="filter1form" onsubmit="return filter1Chk()">
				<input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
				<input type="hidden" id="filter2" name="filter2" th:value="${filter2}">
				<input type="hidden" class="filter1Arr" th:value="${filter1}">
				<div class="dropdown" align="left" id="filter1">
				  <button class="btn btn-sm dropdown-toggle filter1btn" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
				    <span><i class="bi bi-sliders"></i> 필터</span>&nbsp&nbsp<span class="filter1btnSpan">팀명 · 팀장명 · 태그</span>
				  </button>
				  <ul class="dropdown-menu filter1dropMenu">
				    <li><label class="dropdown-item btn-sm filter1label"><input type="checkbox" class="filter1value" id="filter1value" name="filter1" value="팀명"> 팀명</label></li>
				    <li><label class="dropdown-item btn-sm filter1label"><input type="checkbox" class="filter1value" id="filter1value" name="filter1" value="팀장명"> 팀장명</label></li>
				    <li><label class="dropdown-item btn-sm filter1label"><input type="checkbox" class="filter1value" id="filter1value" name="filter1" value="태그"> 태그</label></li>
				    <li><hr class="dropdown-divider"></li>
				    <li><input type="submit" class="dropdown-item btn-sm text-center" id="filter1submitBtn" value="확인"></li>
				  </ul>
				</div>
			</form>
			<!-- 필터2 -->
			<div class="dropdown" align="right" id="filter2div">
			  <button class="btn btn-sm dropdown-toggle filter2btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
			  	th:if="${filter2 == null} or ${filter2 == 'nothing'}">
			   &nbsp카테고리&nbsp
			  </button>
			  <button class="btn btn-sm dropdown-toggle filter2btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
			  	th:if="${filter2} != null and ${filter2 != 'nothing'}" th:text="${filter2}">
			  </button>
			  <ul class="dropdown-menu text-center filter2dropMenu">
			    <li><a class="dropdown-item btn-sm filter2a" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=최신순)}">최신순</a></li>
			    <li><a class="dropdown-item btn-sm filter2a" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=시작일순)}">시작일순</a></li>
			    <li><a class="dropdown-item btn-sm filter2a" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=팀원수순)}">팀원수순</a></li>
			    <li><a class="dropdown-item btn-sm filter2a" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=예치금순)}">예치금순</a></li>
			  </ul>
			</div>
		</section>
		<br><br>
		<!-- 카드 팀 리스트 -->
		<section class="cardSection">
			<div th:if="${searchedTeamList.isEmpty()}" class="searchedNull text-center">
				<div class="searchedNull35 text-center">🙊 검색 결과가 없어요! 🙊</div>
				<div class="searchedNull25 text-center">필터를 다시 적용해보시거나 카테고리를 이동해보세요</div>
			</div>
			<div th:if="${!searchedTeamList.isEmpty()}">
				<div class="row row-cols-4"><!-- 하나의 행에 컬럼 4개 -->
					<div th:each="searchedTeamList : ${searchedTeamList}" class="center">
						<a th:href="@{/teams/teamPage(tno=${searchedTeamList.tno})}">
							<!-- 시작일이 지난 습관 -->
							<div class="card pastHabits" th:if="${searchedTeamList.startDate}<${today}">
								<img th:src="'images/teamPhotos/'+${searchedTeamList.teamName}+'/'+${searchedTeamList.teamPhoto}" class="card-img-top" alt="...">
								<p class="centered displayNone" id="studyCentered">시작된 습관입니다❕</p>
								<div class="card-body">
									<p class="card-title cardTeamName" th:text="${searchedTeamList.teamName}">teamName</p>
									<p class="card-text cardTeamLeader" th:text="${searchedTeamList.member.nickname}">teamLeader</p>
									<p class="card-text cardTeamVolume" th:text="${searchedTeamList.teamDeposit+'/'+searchedTeamList.teamVolume+'명'}">teamVolume</p>
									<p class="card-text cardTeamDeposit" th:text="${'₩'+searchedTeamList.teamDeposit}+'0,000'">teamDeposit</p>
									<p class="card-text cardTeamDate" th:text="${'⭐'+searchedTeamList.startDate+' ~ '+searchedTeamList.endDate+'⭐'}">teamDate</p>
									<p class="btn btn-sm Category1Btn" th:text="${searchedTeamList.teamCategory1}">teamCategory1</p>
									<p th:if="${searchedTeamList.teamCategory2 != null}" class="btn btn-sm Category2Btn" th:text="${searchedTeamList.teamCategory2}">teamCategory2</p>
									<p th:if="${searchedTeamList.teamCategory3 != null}" class="btn btn-sm Category3Btn" th:text="${searchedTeamList.teamCategory3}">teamCategory3</p>
								</div>
							</div>
							<!-- 시작일이 지나지 않은 습관 -->
							<div class="card" th:if="${searchedTeamList.startDate}>=${today}">
								<img th:src="'images/teamPhotos/'+${searchedTeamList.teamName}+'/'+${searchedTeamList.teamPhoto}" class="card-img-top" alt="...">
								<div class="card-body">
									<p class="card-title cardTeamName" th:text="${searchedTeamList.teamName}">teamName</p>
									<p class="card-text cardTeamLeader" th:text="${searchedTeamList.member.nickname}">teamLeader</p>
									<p class="card-text cardTeamVolume" th:text="${searchedTeamList.teamDeposit+'/'+searchedTeamList.teamVolume+'명'}">teamVolume</p>
									<p class="card-text cardTeamDeposit" th:text="${'₩'+searchedTeamList.teamDeposit}+'0,000'">teamDeposit</p>
									<p class="card-text cardTeamDate" th:text="${'⭐'+searchedTeamList.startDate+' ~ '+searchedTeamList.endDate+'⭐'}">teamDate</p>
									<p class="btn btn-sm Category1Btn" th:text="${searchedTeamList.teamCategory1}">teamCategory1</p>
									<p th:if="${searchedTeamList.teamCategory2 != null}" class="btn btn-sm Category2Btn" th:text="${searchedTeamList.teamCategory2}">teamCategory2</p>
									<p th:if="${searchedTeamList.teamCategory3 != null}" class="btn btn-sm Category3Btn" th:text="${searchedTeamList.teamCategory3}">teamCategory3</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 페이징 -->
	<div th:if="${!searchedTeamList.isEmpty()}">
	    <nav aria-label="Page navigation example">
	      <ul class="pagination justify-content-center">
	        <li class="page-item" th:classappend="${1 == searchedTeamList.pageable.pageNumber + 1} ? 'disabled'">
	          <a class="page-link btn-sm" href="#" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=${filter2},page=${searchedTeamList.pageable.pageNumber - 1})}">이전</a>
	        </li>
	        <li class="page-item" th:classappend="${i == searchedTeamList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
	          <a class="page-link btn-sm" href="#" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=${filter2},page=${i - 1})}" th:text="${i}">1</a>
	        </li>
	        <li class="page-item" th:classappend="${searchedTeamList.totalPages == searchedTeamList.pageable.pageNumber + 1} ? 'disabled'">
	          <a class="page-link btn-sm" href="#" th:href="@{/search(keyword=${keyword},filter1=${filter1},filter2=${filter2},page=${searchedTeamList.pageable.pageNumber + 1})}">다음</a>
	        </li>
	      </ul>
	    </nav>
    </div>
	</th:block>
</body>
</html>