<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- favicon -->
	<link rel="icon" href="/images/favicon.svg">
<!-- header -->
<th:block th:replace="layouts/fragments/header :: header"></th:block>

<!-- layout CSS -->
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/css/layout_myPage.css" rel="stylesheet" type="text/css" />
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/font.css" rel="stylesheet" type="text/css" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
	<div class="fixed-top">
		<!-- navbar -->
		<th:block th:replace="layouts/fragments/navbar :: navbar"></th:block>
	</div>
	<div class="myLayout">
		<div class="mySidebar">
			<!-- sidebar -->
			<th:block th:replace="layouts/fragments/myPageCommon :: myPageCommon"></th:block>
		</div>
		<!-- 본문 -->
		<div class="myContent">
			<th:block layout:fragment="content"></th:block>
		</div>
	</div>
	<!-- floatingActionButton -->
	<th:block th:replace="layouts/fragments/floatingActionButton :: floatingActionButton"></th:block>
</body>
<!-- layout script -->
<script type="text/javascript" src="/js/layout.js"></script>
<div class="myFooter">
	<!-- footer -->
	<th:block th:replace="layouts/fragments/footer :: footer"></th:block>
</div>
</html>