<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- header -->
<th:block th:replace="/layouts/fragments/header :: header"></th:block>
<!-- layout CSS -->
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/css/font.css" rel="stylesheet" type="text/css" />

    <!-- layout script -->
<script type="text/javascript" src="/js/layout.js"></script>
</head>
<body>
<!-- navbar -->
<th:block th:replace="/layouts/fragments/navbar :: navbar"></th:block>
<!-- 본문 -->
<th:block layout:fragment="content"></th:block>
<!-- floatingActionButton -->
<th:block th:replace="/layouts/fragments/floatingActionButton :: floatingActionButton"></th:block>
</body>
<!-- footer -->
<th:block th:replace="/layouts/fragments/footer :: footer"></th:block>
</html>