<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- favicon -->
	<link rel="icon" href="/images/favicon_circle.svg">
<!-- header -->
<th:block th:replace="layouts/fragments/header :: header"></th:block>

<!-- layout CSS -->
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/css/layout_teamPage.css" rel="stylesheet" type="text/css" />
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/font.css" rel="stylesheet" type="text/css" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
	<!-- navbar -->
	<th:block th:replace="layouts/fragments/navbar :: navbar"></th:block>
	<!-- team Header -->
	<th:block th:replace="layouts/fragments/teamPageCommon :: teamPageCommon"></th:block>
	<!-- 본문 -->
	<th:block layout:fragment="content"></th:block>
	<!-- floatingActionButton -->
	<th:block th:replace="layouts/fragments/floatingActionButton :: floatingActionButton"></th:block>
</body>
<!-- layout script -->
<script type="text/javascript" src="/js/layout.js"></script>
<!-- footer -->
<th:block th:replace="layouts/fragments/footer :: footer"></th:block>
</html>