<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage}">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
  <div class="middle-container">
      <h2 class="title">1:1 문의게시판</h2>
        <table class="myTeamTable">
          <tr><th>번호</th><th>제목</th><th>문의날짜</th><th>답변여부</th></tr>
          <tr  th:each="list, stat : ${askBoardList}">
            <td th:text="|${stat.count}|"></td>
            <td><a th:href="@{/askBoard/askBoardDetail(ano=${list.ano})}" th:text="${list.askSubject}"></a> </td>
            <td th:text="${#temporals.format(list.askDate,'yyyy-MM-dd hh:mm')}"></td>
<!--            <td th:text="${}"></td>-->
          </tr>
        </table>
    <a th:href="@{/askBoard/askBoardForm}">문의하기</a>
  </div>
</th:block>
</body>
</html>