<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage}">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
  <div class="topless-middle-container">
      <h2 class="title">1 : 1 문의게시판</h2>
        <table class="myAskTable">
          <tr class="tableHead"><th class="col-1">번호</th><th>제목</th><th class="col-2">문의날짜</th><th class="col-1">답변</th></tr>
          <tr th:if="${askBoardList.isEmpty()}">
            <td colspan="4">작성한 문의글이 존재하지 않습니다.</td>
          </tr>
          <tr class="tableBody" th:if="${!askBoardList.isEmpty()}" th:each="list : ${askBoardList}">
            <td th:text="${list.ano}"></td>
            <td><a th:href="@{/askBoard/askBoardDetail(ano=${list.ano})}" th:text="${list.askSubject}"></a> </td>
            <td th:text="${#temporals.format(list.askDate,'yy.MM.dd')}"></td>
            <td th:if="${list.askBoardReplies.isEmpty()}"></td>
            <td th:if="${!list.askBoardReplies.isEmpty()}">완료</td>
          </tr>
        </table>

    <!-- paging -->
    <div class="myAsk page-num"  th:if="${!askBoardList.isEmpty()}"
         th:with="start=${(askBoardList.number/maxPage)*maxPage + 1},
                       end=(${(askBoardList.totalPages == 0) ? 1
                       : (start +(maxPage - 1) < askBoardList.totalPages ? start + (maxPage - 1) : askBoardList.totalPages)})">
      <ul>
        <li th:if="${start > 1}">
          <a th:href="@{/askBoard/askBoardList(page=0)}"><img th:src="@{/images/left2.png}"></a>
        </li>
        <li th:if="${start > 1}">
          <a th:href="@{/askBoard/askBoardList(page=${start - maxPage})}"><img th:src="@{/images/left.png}"></a>
        </li>
        <li class="listNumber" th:each="page: ${#numbers.sequence(start, end)}">
          <a th:href="@{/askBoard/askBoardList(page=${page - 1})}" th:text="${page}"></a>
        </li>
        <li th:if="${end < askBoardList.totalPages}">
          <a th:href="@{/askBoard/askBoardList(page=${start + maxPage})}"><img th:src="@{/images/right.png}"></a>
        </li>
        <li th:if="${end < askBoardList.totalPages}">
          <a th:href="@{/askBoard/askBoardList(page=${askBoardList.totalPages - 1})}"><img th:src="@{/images/right2.png}"></a>
        </li>
      </ul>
    </div>
    <!-- paging end -->

    <div class="askButton-box">
      <a th:href="@{/askBoard/askBoardForm}" class="askButton">문의하기</a>
    </div>
  </div>
</th:block>
</body>
</html>