<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
    <div class="topless-middle-container">
        <h2 class="title">1:1 문의 내역</h2>
            <div class="top-box">
                <div class="subTitle">제목 &nbsp; : &nbsp; <span th:text="${askBoard.askSubject}"></span></div>
                <div class="time"><span th:text="${#temporals.format(askBoard.askDate,'yyyy.MM.dd HH:mm')}"></span> </div>
            </div>
            <div class="content-box">
                <div class="contentBox" th:utext="${askContent1}"></div>
            </div>
        <div class="askDetail-button-box">
            <div class="left">
                <a class="button" th:href="@{/askBoard/askBoardUpdateForm(ano=${askBoard.ano})}">수정</a>
                <a class="button" th:href="@{/askBoard/askBoardDelete(ano=${askBoard.ano})}">삭제</a>
            </div>
            <div class="right">
                <a class="button" th:href="@{/askBoard/askBoardList}">목록</a>
            </div>
        </div>
            <div class="reply-box">
                <div class="span">댓글 > </div>
                <div class="reply">
                    <div class="oneReply" th:each="replys : ${askBoardReplies}">
                        <div class="replyInfo">
                            <div class="nickname" th:text="${replys.member.nickname}"></div>
                            <div class="date" th:text="${#temporals.format(replys.askReplyDate, 'yyyy.MM.dd HH:mm')}"></div>
                        </div>
                        <div class="content" th:text="${replys.askReplyContent}"></div>
                    </div>
                </div>
                <div class="replyWrite-box">
                    <form th:action="@{/askBoard/askBoardReplyWrite}" th:object="${askBoardReplyDto}" method="post">
                        <input type="hidden" id="ano" name="ano" th:value="${askBoard.ano}">
                        <div class="replyWrite">
                            <input type="text" name="nickname" th:value="${member.nickname}" class="replyNick" disabled>
                            <div class="replyBottom">
                                <input type="text" th:field="*{askReplyContent}" class="form-control" placeholder="댓글을 입력하세요">
                                <input type="submit" value="등록">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</th:block>
</body>
</html>