<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage }">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
    <form th:action="@{/askBoard/askBoardAction}" th:object="${askBoardForm}" method="post" enctype="multipart/form-data">
        <div class="topless-middle-container">
            <h2 class="title">1:1 문의하기</h2>
            <div class="ask-form1">
                <div class="subTitle">제목</div>
                <input type="text" th:field="*{askSubject}" class="form-control">
                <span class="text-err" id="askSubjectChk"></span>
            </div>
            <div class="ask-form2">
                <textarea th:field="*{askContent}" class="form-control" rows="8" cols="40"></textarea>
                <span class="text-err" id="askContentChk"></span>
            </div>
            <div class="ask-form3">
                <input type="file" name="file" class="form-control">
            </div>
            <div class="askButton-box2">
                <input type="submit" value="등록" class="askButton2">
            </div>
        </div>
    </form>
</th:block>
</body>
</html>