<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- 본문 코드 시작 -->
	<th:block layout:fragment="content">
		<div class="my_body">
			<div class="topless-middle-container">
				<h2 class="title checkTitle">내 인증글 목록</h2>
				<div class="select_bx">
<!--					<select class="form-select text-center" th:field="*{teamList}">-->
					<select class="selectBox form-select text-center" onchange="changeSelect()">
						<option value="" class="text-gray" selected>==팀 별 보기==</option>
						<option th:each="list : ${teamList}" th:name="${param.tno}"
								th:value="${list.tno}" th:utext="${list.teamName}" th:selected="${list.tno eq param.tno}">
						</option>
					</select>
				</div>
					<div class="card" th:each="list : ${checkList}">
						<div class="top">
							<div class="userDetails">
								<div class="profile_img">
									<img src="/images/logo.png" class="cover">
								</div>
								<div class="checkInfo">
									<h3 th:text="${list.team.teamName}"></h3>
									<h3 th:text="${#temporals.format(list.checkDate, 'yyyy-MM-dd hh:mm')}" class="span"></h3>
								</div>
							</div>
							<div>
								<a th:href="@{/teams/teamPage(tno=${list.team.tno})}"><img src="/images/go.png" width="20px" class="dot"></a>
							</div>
						</div>
						<span th:each="photo : ${photoList}" th:if="${list.cno == photo.cno}">
							<div class="imgBx">
								<img th:src="${photo.realPhoto}" class="cover">
							</div>
							</span>
						<div class="actionBtns">
							<div class="left">
								<img src="/images/heart_red.png" class="heart">
								<h4 class="likes" th:text="${list.checkLike}+' likes'"></h4>
							</div>
							<div class="right">
								<span th:text="'조회수 : '+${list.checkReadCount}"></span>
							</div>
						</div>
						<h4 class="message" th:text="${list.checkContent}"></h4>
					</div>

				<!-- paging -->
				<div class="myTeam page-num"
					 th:with="start=${(checkList.number/maxPage)*maxPage + 1},
                       end=(${(checkList.totalPages == 0) ? 1
                       : (start +(maxPage - 1) < checkList.totalPages ? start + (maxPage - 1) : checkList.totalPages)})">
					<ul>
						<li th:if="${start > 1}">
							<a th:href="@{/myPage/myCheckList(page=0)}"><img th:src="@{/images/left2.png}"></a>
						</li>
						<li th:if="${start > 1}">
							<a th:href="@{/myPage/myCheckList(page=${start - maxPage})}"><img th:src="@{/images/left.png}"></a>
						</li>
						<li class="listNumber" th:each="page: ${#numbers.sequence(start, end)}">
							<a th:href="@{/myPage/myCheckList(page=${page - 1})}" th:text="${page}"></a>
						</li>
						<li th:if="${end < checkList.totalPages}">
							<a th:href="@{/myPage/myCheckList(page=${start + maxPage})}"><img th:src="@{/images/right.png}"></a>
						</li>
						<li th:if="${end < checkList.totalPages}">
							<a th:href="@{/myPage/myCheckList(page=${checkList.totalPages - 1})}"><img th:src="@{/images/right2.png}"></a>
						</li>
					</ul>
				</div>
				<!-- paging end -->

			</div>
		</div>
		<script th:inline="javascript">
			function changeSelect(){
				let selectTeam = $('.selectBox').val();
				location.replace("/myPage/myCheckList?tno="+selectTeam);
			};

		</script>
	</th:block>
</body>
</html>