<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
    <div class="topless2-middle-container">
        <h2 class="title teamTitle">내가 찜한 스터디</h2>

        <div class="oneTeam" th:each="list : ${likeList}">
            <div class="team_img">
                <a th:href="@{/teams/teamPage(tno=${list.tno})}"><img th:src="'/images/teamPhotos/'+${list.teamName}+'/'+${list.teamPhoto}" class="cover"></a>
                <div class="heartBox">
                    <a onclick="return likes()"><img src="/images/heart_red.png"></a>
                </div>
            </div>
            <div class="team_info">
                <a th:href="@{/teams/teamPage(tno=${list.tno})}"><h5 class="teamName" th:text="${list.teamName}"></h5></a>
            </div>
        </div>
        <!-- paging -->
        <div class="myTeam page-num"
             th:with="start=${(likeList.number/maxPage)*maxPage + 1},
                       end=(${(likeList.totalPages == 0) ? 1
                       : (start +(maxPage - 1) < likeList.totalPages ? start + (maxPage - 1) : likeList.totalPages)})">
            <ul>
                <li th:if="${start > 1}">
                    <a th:href="@{/myPage/myLikeList(page=0)}"><img th:src="@{/images/left2.png}"></a>
                </li>
                <li th:if="${start > 1}">
                    <a th:href="@{/myPage/myLikeList(page=${start - maxPage})}"><img th:src="@{/images/left.png}"></a>
                </li>
                <li class="listNumber" th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:href="@{/myPage/myLikeList(page=${page - 1})}" th:text="${page}"></a>
                </li>
                <li th:if="${end < likeList.totalPages}">
                    <a th:href="@{/myPage/myLikeList(page=${start + maxPage})}"><img th:src="@{/images/right.png}"></a>
                </li>
                <li th:if="${end < likeList.totalPages}">
                    <a th:href="@{/myPage/myLikeList(page=${likeList.totalPages - 1})}"><img th:src="@{/images/right2.png}"></a>
                </li>
            </ul>
        </div>
        <!-- paging end -->

    </div>
    <script th:inline="javascript">
        function likes(){

        }
    </script>
</th:block>
</body>
</html>