<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_myPage}">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
  <div class="middle-container">
    <h2 class="title">내가 가입한 스터디</h2>
    <table class="myTeamTable">
      <tr><th>번호</th><th>팀명</th><th>팀장</th><th>시작날짜</th><th>완료날짜</th><th>예치금</th><th>자세히</th></tr>
      <tr th:each="list, stat : ${teamList}">
        <td th:text="|${stat.count}|"></td>
        <td th:text="${list.teamName}"></td>
        <td th:text="${list.member.nickname}"></td>
        <td th:text="${list.startDate}"></td>
        <td th:text="${list.endDate}"></td>
        <td th:text="${list.teamDeposit}+'0,000원'"></td>
        <td><a th:href="@{/teams/teamPage(tno=${list.tno})}"><img src="/images/go.png" width="40"></a> </td>
      </tr>
    </table>
  </div>
</th:block>
</body>
</html>