<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="floatingActionButton">
	<div class="fab-container">
		<div class="fab fab-icon-holder">
			<!-- <a th:href="@{/teams/createTeam}"> -->
			<a th:href="@{/teams/checkMyWithdraw}">
				<!-- <img class="teamImg" alt="team.." src="/images/team.png" width="100" height="50">
				<img class="createImg displayNone" alt="team.." src="/images/createImg.png" width="100" height="50"> -->
				<img class="teamImg" alt="team.." src="/images/1.png" width="100" height="50">
				<img class="createImg displayNone" alt="team.." src="/images/2.png" width="100" height="50">
			</a>
		</div>
	</div>
</div>
</html>