<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
	<div class="footer-container footer-width">
	  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
	    <p class="col-md-4 mb-0 text-muted footer-left">☻ 2022 Moseup,</p>
	    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"  id="footerLogo">
	      <img class="bi me-2" width="130" alt="moseup" src="/images/MOSEUP_logo.svg">
	    </a>

	    <ul class="nav col-md-4 justify-content-end footer-right">
	      <li class="nav-item"><a href="https://github.com/NullpointExcepti0n" class="nav-link px-2 text-muted" target="_blank" title="Click to go github">권기준</a></li>
	      <li class="nav-item"><a href="https://github.com/Blessole" class="nav-link px-2 text-muted" target="_blank" title="Click to go github">김솔</a></li>
	      <li class="nav-item"><a href="https://github.com/jixmxx" class="nav-link px-2 text-muted" target="_blank" title="Click to go github">김진만</a></li>
	      <li class="nav-item"><a href="https://github.com/ftfg777" class="nav-link px-2 text-muted" target="_blank" title="Click to go github">정찬우</a></li>
	    </ul>
	  </footer>
	</div>
</div>
</html>