<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--MyPage용 SideBar-->
<th:block th:fragment="myPageCommon">
    <div class="inlinebox">
        <img th:src="${map.realPhoto}">
        <span th:text="${map.member.nickname}" class="mNick"></span> 님, 환영합니다.
    </div>
    <ul class="sideList" id="accordionSidebar">
        <li class="non-Active"><a th:href="@{/myPage/myTeamList(sort='none')}">가입 스터디 목록</a></li>
        <li class="non-Active"><a th:href="@{/myPage/myLikeList}">찜한 스터디 목록</a></li>
        <li class="non-Active"><a th:href="@{/myPage/myCheckList}">내 인증글 목록</a></li>
        <li class="non-Active"><a th:href="@{/myPage/myInfoMain}">회원정보 수정</a></li>
        <li class="non-Active"><a th:href="@{/myPage/myBankbook}">내 통장</a></li>
        <li class="non-Active"><a th:href="@{/askBoard/askBoardList}">1:1 문의게시판</a></li>
    </ul>
    <script type="text/javascript">
        $(function(){

        });
    </script>
</th:block>