main > #memberinfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
main > #memberinfo > div.memberinfo_start{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    margin-left: 20px;
}
main > #memberinfo > div.memberinfo_start > div.memberinfo_Row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
main > #memberinfo > div.memberinfo_start > div.memberinfo_Row > div.infoData{
    width: 14%;
}
main > #memberinfo > div.memberinfo_start > div.memberinfo_Row > div.infoData > label{
    font-size: 12px;
    color: darkgray;
    margin-bottom: 10px;
}
main > #memberinfo > div.memberinfo_start > div.memberinfo_Row > div.infoData > p{
    font-size: 14px;
    font-weight: 500;
    color:darkslategray;
}


