body {
	font-family : 'LG Regular';
}

/* 포인트 컬러 */
:root{
    --point-color : #5c75bb;
}
/* fab */
.fab-container {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
}

.fab-icon-holder {
    border-radius: 70%;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab {
    width: 100px;
    height: 50px;
    background: white;
}
/* fab이미지 */
.teamImg, .createImg {
	/* background-color: #5c75bb; */
	border-radius: 60px;
}

.displayNone {
	display: none;
}
/* 여기까지 fab*/

/* 네비바 */
#navbar {
	position: sticky;
	top: 0;
	background: white;
	z-index: 999999;
    padding : 13px;
}
.nav-width{
	margin: 0 auto;
	width: 80%
}

/** 로그인/회원가입 부분 css (by. 솔) **/
.nav-item{
    display: flex;
}
.nav-item a {
    color: var(--point-color);
    margin-left: 15px;
}

.nav-item a:hover{
    color: #000000;
}

/* 검색창 by 솔 */
.nav-search {
    position: relative;
    height: 50px;
}

.nav-search .input{
    background-color: #FFFFFF;
    border: 0;
    font-size: 16px;
    margin-left: 6px;
    width: 0;
    transition: width 0.3s ease;
}

.searchBtn {
    background-color: #FFFFFF;
    border: 0;
    cursor: pointer;
    font-size: 27px;
    padding: 0;
    transition: transform 0.3s ease;
}

.searchBtn:focus, .input:focus {
    outline: none;
}

.nav-search.active .input {
    width: 200px;
    position: relative;
    top: 1px;
}

.nav-search.active {
    border-bottom: 1px solid var(--point-color);
}

.nav-search.active .searchBtn{
    color: var(--point-color);
}

i.bx.bx-search {
    position: relative;
    top: 8px;
}

.verticalLine{
    color: var(--point-color);
    padding: 0 0 0 20px;
}

.verticalLine2{
    color: var(--point-color);
    padding: 0 20px 0 20px;
}

/* 검색 화면 인풋 및 이미지 감싸는 태그 */
.search {
    position: relative;
}

/*!* 네비바 검색창 인풋 *!*/
/*#search {*/
/*  width: 100%;*/
/*  border: 1px solid #bbb;*/
/*  border-radius: 8px;*/
/*  padding: 10px 12px;*/
/*  font-size: 14px;*/
/*}*/

/*!* 네비바 돋보기 이미지 *!*/
/*.searchImg{*/
/*	position : absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    top: 9px;*/
/*    right: 6px;*/
/*    margin: 0;*/
/*    background-image: url('/images/search.svg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: 25px;*/
/*    background-color: transparent;*/
/*    border: 0;*/
/*}*/

/* 네비바 인풋 텍스트 x표 없애기 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

.dropCategory {
    min-width: 100px;
}

/* 네비바 회원 사진 (by. 솔) */
.inlineBox{
    display: inline-flex;
}
.nav-nickBox{
    margin: auto 10px;
}
.nav-myImgBox{
    width: 40px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
}
.nav-myImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
.footer-width{
	margin: 0 auto;
	width: 80%
}

#footerLogo{
    padding: 16px 0;
}

/* */
.dropdown .show {
    top: 14px;
}

.pointColor {
	color : #5c75bb;
}