/* fab */
.fab-container {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
}

.fab-icon-holder {	/* 위에 뜨는 아이콘들 */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #016fb9;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder:hover{	/* 위에 뜨는 아이콘 투명도 */
    opacity: 0.8;
}

.fab-icon-holder i {		/* i 태그 */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    color: #ffffff;
}

.fab {
    width: 100px;
    height: 50px;
    background: white;
}

.fab-options {
    list-style-type: none;
    margin: 0;

    position: absolute;
    bottom: 70px;
    right: 0;

    opacity: 0;

	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
	opacity: 1;
	transform: scale(1);
}

.fab-options li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.fab-label {	/* span태그 */
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 10px;
	font-size: 16px;
	background: #016fb9;
	color: #ffffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	margin-right: 10px;
}
/* 여기까지 fab*/

/* 네비바 */
#navbar {
	position: sticky;
	top: 0;
	background: white;
	z-index: 999999;
}
.nav-width{
	margin: 0 auto;
	width: 80%
}

/** 로그인/회원가입 부분 css (by. 솔) **/
.nav-item{
    display: flex;
}
.nav-item a {
    margin-left: 15px;
}

.nav-item a:hover{
    color: #000000;
}

/* 네비바 검색창 인풋 및 이미지 감싸는 태그 */
.search {
  position: relative;
}

/* 네비바 검색창 인풋 */
#search {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

/* 네비바 돋보기 이미지 */
.searchImg{
	position : absolute;
	width: 25px;
	top: 12px;
	right: 12px;
	margin: 0;
	background-image: url('/images/search.png');
    background-repeat : no-repeat;
    background-size: 20px;
    background-color: transparent;/* 돋보기 뒤에 배경 투명 */
    border : 0;	
}

/* 네비바 인풋 텍스트 x표 없애기 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/* footer */
.footer-width{
	margin: 0 auto;
	width: 80%
}