/* 메인 컨테이너 */
.mainContainer {
	width: 80%;
	margin: 0 auto;
}

/* 슬라이드바 섹션 */
.slidesSection {
	margin-bottom: 60px;
}

/* 메인 검색창 섹션 */
.searchSection {
	height: 250px;
}

/* 팀 리스트 섹션 */
/* .teamListSection {
	border: 1px solid blue;
	height: 400px;
} */

/* 메인 검색창 전부 감싸는 태그 */
.mainSearch {
	width: 45%;
	margin: 0 auto;
}
/* 메인 검색창 인풋 및 이미지 감싸는 태그 */
.mainSearchInput {
	position: relative;
}

/* 메인 검색창 인풋 */
#mainSearch {
	width: 100%;
	height: 70px;
 	border: 1px solid #bbb;
	border-radius: 30px;
 	padding: 10px 12px;
  	font-size: 14px;
  	line-height: 35px;
  	color : white;
  	background-color: var(--point-color);
}

/* 메인 검색창 placeholder */
.mainSearchInput input::placeholder {
  color: white;
  font-size: 17px;
}
/* 메인 돋보기 이미지 */
.mainSearchImg{
	position : absolute;
	width: 40px;
	top: 24px;
	right: 12px;
	margin: 0;
	background-image: url('/images/search.png');
    background-repeat : no-repeat;
    background-size: 25px;
    background-color: transparent;/* 돋보기 뒤에 배경 투명 */
    border : 0;	
}

/* 메인 텍스트 포커스 됐을시 이벤트 */
.mainSearchInput #mainSearch:focus {
	color: black;
	background-color: white;
	/* transition-duration: 1s; */
	background-color: aac8ff; /* 요소 기본 색상 */
	animation: test 1s ease 0s none;
}
@keyframes test{
    from{
        background-color: #5c75bb; /* 애니메이션 시작 색상 */
    }
    to{
        background-color: white; /* 애니메이션 종료 색상 */
        color: #c0c0c0;
        transform: scaleY( 1.0 );
    }
}
/* 여기까지 포커스 이벤트 */

/* 메인 검색창 타이틀 */
.mainSearchTitle {
	margin: 5px;
	font-size: 25px;
	font-weight: bold;
}

/* mainSearchTitle중에서 "모"와 "습" */
.mainSearchTitlePoint {
	font-size: 30px;
	color: #5c75bb;
}

/* 검색창 밑 tag */
#searchTag {
	margin-top: 8px;
}

/* searchTag밑 a태그 */
#searchTagALink {
	display:inline-block;
	border-radius: 10px;
	margin-right: 20px;
	background-color: #efefef;
	line-height: 30px;
	text-decoration: none;
	color: black;
	font-size: 14px;
}

/* 습관 BEST 5 타이틀 */
#slideTitle {
	/* border-radius: 10px; */
	width: 150px;
	margin: 0 auto;
	text-align: center;
	color: black;
	/* background-color: black; */
	margin-bottom: 5px;
}

/* 슬라이드 이미지 */
#slideImg {
	width: 60%;
	height: 300px;
	object-fit: cover;
	margin: auto;
}

/* 슬라이드 캡션1 */
#slideCaption {
	font-size: 20px;
	color: black;
	/* text-shadow: 1px 1px 1px black; */
}

/* 슬라이드 캡션2 */
#slideCaption2 {
	font-size: 15px;
	color: black;
	/* text-shadow: 1px 1px 1px black; */
}

/* 슬라이드 캡션 위치 */
.item #slideCaption {
	left: 0 !important;
	right: 70% !important;
	bottom: 80% !important;
	text-align: left;
	padding-left: 20px;
}

/* 슬라이드 캡션 위치 */
.item #slideCaption2 {
	left: 0 !important;
	right: 70% !important;
	bottom: 70% !important;
	text-align: left;
	padding-left: 20px;
}

/* 슬라이드 밑에 버튼 */
#slideBtn1 {
	border: 1px solid black;
}

/* 슬라이드 이미지안에 버튼 */
#slideBtn2 {
	color: black;
	font-size: 1.7em;
}

/* card태그 */
.card {
	border-radius: 10px;
	margin: 10px 10px 30px 10px;
	height: 403px;
	text-align: center;
	border: none;
}
.card:hover {
	border: 1px solid #cecece;
}

/* 지난 습관 */
.pastHabits:hover > p {
	background:rgba(0,0,0,.8);
}
.pastHabits:hover .centered {
	width: 100%;
	height: 100%;
	position: absolute;
	color: white;
	padding: 180px 0;
}

/* card텍스트 */
.card-text {
	margin-bottom: 10px;
}

/* card 팀명 */
.cardTeamName {
	font-weight: bold;
	font-size: 1.02em;
	height: 50px;
	color: black;
}
/* card 팀명안에 a태그 */
.cardTeamNameA {
	text-decoration: none;
	color: black;
}
.cardTeamNameA:hover {
	color: black;
}

/* card 팀장 */
.cardTeamLeader {
	font-size: 0.8em;
	color: gray;
}
/* card 팀예치금 */
.cardTeamDeposit {
	color: #004f9d;
}

/* card 팀모집인원 */
.cardTeamVolume {
	color: #007500;
}

/* card Date */
.cardTeamDate {
	font-size: 0.9em;
	color: black;
}

/* card 이미지 */
.card-img-top {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.row a {
	text-decoration: none;
}

/* 카테고리1 버튼 */
.Category1Btn {
	background-color: #cee7ff;
	font-size: 0.75em;
	margin-bottom: 5px;
}
/* 카테고리2 버튼 */
.Category2Btn {
	background-color: #ffdfef;
	font-size: 0.75em;
	margin-bottom: 5px;
}
/* 카테고리3 버튼 */
.Category3Btn {
	background-color: #caffe4;
	font-size: 0.75em;
	margin-bottom: 5px;
}

/* 팀리스트 a링크 제목 */
#teamListAlinkTitle {
	text-decoration: none;
	font-size: 1.6em;
	font-weight: bold;
	color: black;
}
/* 팀리스트 span태그 */
#teamListSpan {
	font-size: 1.2em;
	color: #c0c0c0;
}
/* 림리스트 서브 제목 */
#teamListSubtitle{
	color: #808080;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* 등록된 습관 없을 떄 태그 */
#nullMoseup {
	color: gray;
	font-weight: bold;
	margin: 80px 0;
}

.displayNone {
	display: none;
}
