/* 메인 컨테이너 */
.mainContainer{
	width: 80%;
	margin: 0 auto;
}

/* 슬라이드바 섹션 */
.slidesSection{
	border: 1px solid green;
	height: 200px;
}

/* 메인 검색창 섹션 */
.searchSection{
	border: 1px solid red;
	height: 150px;
}

/* 팀 리스트 섹션 */
.mainSection{
	border: 1px solid blue;
	height: 400px;
}