@charset "UTF-8";

body{
    font-family: 'LG Regular';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle-container{
    padding-top : 100px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.narrow-middle-container{
    padding-top : 100px;
    padding-bottom: 100px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.topless-middle-container{
    padding-top : 65px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.topless2-middle-container{
    padding-top: 69px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: #2b542c dashed 1px;
    font-family: 'Gyeonggi';
}

/* 문의게시판 리스트 시작 */
.myAskTable {
    margin : auto;
    width: 93%;
    table-layout: fixed;
}

th {
    padding-bottom: 5px;
    font-size : 18px;
}

.tableHead {
    border-bottom: double #4d4d4f;
}

.tableBody {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
}

.tableBody:hover{
    color: white;
    background-color: var(--point-color);
}

.tableBody:last-child {
    border-bottom: double #4d4d4f;
}

.tableBody a:hover{
    color:white;
}

.askButton-box{
    width: 40%;
    margin-top : 30px;
    margin-right: 30px;
    float: right;
    text-align: right;
}

.askButton {
    background-color: var(--point-color);
    border:  var(--point-color) solid 1px;
    padding: 10px;
    color : white;
}

.askButton:hover {
    background-color: #fff;
    color:  var(--point-color);
}

.myAsk{
    display: inline-block;
    width: 55%;
    position: relative;
    left: 147px;
}

.page-num ul{
    display: inline-flex;
    padding-top: 20px;
}

.page-num ul li {
    width: 38px;
}

.page-num img{
    width: 35px;
}

.listNumber{
    padding-top: 8px;
}
/* 문의게시판 리스트 끝 */

/* 문의게시판 상세페이지 시작 */
.top-box{
    height: 80px;
}

.content-box {
    text-align: left;
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: auto;
    border: 1px solid #e6e6e6;
}

.contentBox{
    padding : 10px 10px 30px 10px;
}

.subTitle {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    width : 60%;
    text-align: left;
    padding: 10px;
    border-bottom: var(--point-color) solid 1px;
}

.time {
    float: right;
    position: relative;
    right: 182px;
    padding: 10px 0;
}

.ask_image_container {
    width: 60%;
    height: auto;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    margin: 10px auto 20px;
}

.ask_image_container .askBoardPhoto {
    width: 100%;
    padding: 10px;
    object-fit: cover;
}

.askDetail-button-box{
    width: 60%;
    height: 32px;
    margin: 10px auto;
    border-bottom: var(--point-color) dashed 1px;
}

.askDetail-button-box .left{
    float: left;
}

.askDetail-button-box .right{
    float: right;
}

.askDetail-button-box .button {
    border:none;
    padding: 8px;
}

.askDetail-button-box .button:hover {
    background-color:  var(--point-color) ;
    color : white;
}

/* askBoardUpdateForm 문의글 수정 */
.ask_up_image_container {
    width: 69%;
    height: auto;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    margin: 10px auto -1px;
}

.ask_up_image_container .askBoardPhoto {
    width: 100%;
    padding: 10px;
    object-fit: cover;
}

.ask_up_image_container .small{
    width: 5%;
    padding: 10px;
    object-fit: cover;
}

.ask_up_take_container{
    border: 1px solid #e6e6e6;
    width: 69%;
    margin: 0 auto 20px;
    background-color: var(--point-light);
    color: #fff;
}

.ask_up_take_container label{
    width: 100%;
    height: 100%;
    padding:10px;
    cursor: pointer;
}

.ask_up_button_box {
    width: 69%;
    margin: 16px auto 4px;
    height: 70px;
}

.ask_up_button_box .askButton2 {
    width: 30%;
    height: 85%;
    border: var(--point-color) solid 1px;
    padding: 10px;
    color: #FFFFFF;
    background-color: var(--point-color);
    font-weight: 500;
}

.ask_up_button_box .askButton2:hover {
    border: var(--point-color) solid 1px;
    color: var(--point-color);
    background: none;
}

.ask_up_button_box .askButton3 {
    width: 30%;
    height: 85%;
    border: var(--point-color) solid 1px;
    background-color: var(--point-color);
    font-weight: 500;
    padding: 20px;
    color: #FFFFFF;
    display: inline-block;
}

.ask_up_button_box .askButton3:hover {
    border: var(--point-color) solid 1px;
    color: var(--point-color);
    background: none;
}
/* 문의게시판 수정 폼 끝 */


/*- 댓글 목록 -*/
.reply-box{
    height: auto;
}

.reply {
    width: 60%;
    margin: auto auto 5px;
    border: 1px solid #e6e6e6;
    padding: 8px 0 8px 0;
}

.reply-box .span {
    text-align: left;
    margin: 10px 190px;
}

.oneReply {
    width: 97%;
    margin: auto auto 5px;
    border: 1px solid #e6e6e6;
    padding: 7px 0 7px 0;

    /* 자동 높이 조절 */
    height: auto;
    overflow: hidden;
}

.replyInfo {
    display : inline;
}

.replyInfo .nickname{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color : var(--point-color);
    font-weight: 500;
}

.reply .date{
    float: right;
    margin-right: 10px;
    color: gray;
    font-size: 16px;
}

.oneReply .content{
    width: 96%;
    float: left;
    text-align: left;
    margin: 5px 10px;
    color: darkslategray;
    font-size: 17px;
}

.oneReply .content p {
    word-break: break-all;
    margin-bottom: 0;
}
/*- 댓글 쓰기 -*/
.replyWrite {
    width: 60%;
    margin: auto auto 30px;
    border : 1px solid #e6e6e6;
    padding: 15px 0 20px 0;
}

.replyNick {
    display: block;
    width: 96px;
    border: none;
    background: none;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 11px;
}

.replyBottom {
    display: inline-block;
    width: 97%;
}

.replyBottom input[type=text]{
    width: 92%;
    float: left;
}

.replyBottom input[type=submit]{
    border: none;
    background: none;
    padding-top: 8px;
}
/* 문의게시판 상세페이지 끝 */

/* 문의게시판 글쓰기 시작 */
.ask-form1 {
    display: flex;
    margin-bottom: 25px;
}

.ask-form1 .subTitle {
    border-bottom: none;
    width: 7%;
    margin: 0 35px 0 140px;
}

.ask-form1 input[type=text]{
    width: 50%;
    border: none;
    border-bottom: 1px solid var(--point-color);
    border-radius: 0;
}

.ask-form2{
    width: 69%;
    margin: auto;
}

.note-editable {
    text-align: left;
}


input#askPhoto {
    width: 58%;
    margin: 10px 0 10px 150px;
}

.ask-form3 {
    width: 64%;
    margin: auto;
}

.ask-form3 input[type=file] {
    margin-top: 15px;
}

.askButton-box2 {
    width: 40%;
    float: right;
    margin-top: 16px;
    margin-right: 4px;
}

.askButton2 {
    width: 100px;
    border: var(--point-color) solid 1px;
    padding: 10px;
    color: var(--point-color);
    background: none;
    font-weight: 500;
}

.askButton2:hover {
    border: var(--point-color) solid 1px;
    padding: 10px;
    color: #FFFFFF;
    background-color: var(--point-color);
    font-weight: 500;
}
/* 문의게시판 글쓰기 끝 */

/* 가입 팀 리스트 시작 */
.myTeamTable {
    margin : auto;
    width: 93%;
    table-layout: fixed;
}

.teamTitle {
    margin-bottom: 20px;
    font-family: 'Gyeonggi';
}

.myTeamTable  .teamTableH{
    border-bottom: 3px double gray;
}

.myTeamTable tr{
    height: 43px;
}

.sort-btn-box {
    display: block;
    color: var(--point-color);
    font-size: 17px;
}

.sort-btn-box .left{
    float : left;
    margin: 0 50px 6px 50px;
    padding: 10px 0 20px 0;
}

.sort-btn-box .right{
    display: flex;
    float: right;
    padding: 10px 0 20px 0;
    margin: 0 71px 6px 43px;
}

.sort-btn-box .line {
    padding: 0 10px;
    color: #4d4d4f;
}

.sort-btn-box a:hover{
    color: white;
    background-color: var(--point-color);
}

.sort-btn-box .active {
    background-color: #95abe6;
    color: white;
}

/* 가입 팀 리스트 끝 */

.button-box {
    width: 40%;
    margin-top : 30px;
    float: right;
    text-align: right;
}

.button {
    border: var(--point-color) solid 1px;
    padding: 10px;
}

.button:hover {
    background-color:  var(--point-color) ;
    color : white;
}

/* 내 정보 보기 전 비밀번호 확인 - myInfoMain */
.form-group {
    margin-bottom: 30px;
}

#check_password_email{
    width: 100%;
    margin: auto;
}

.checkPw {
    margin: 80px 0 23px 0;
    display: inline-flex;
}

.checkPw #checkPassword{
    margin-left: 10px;
    width: 78px;
    background: var(--point-color);
    border: none;
    border-radius: 10px;
    color: #fff;
}

.checkPw #checkPassword:hover{
    color : var(--point-color);
    background-color: #fff;
    border: 1px solid var(--point-color);
}

/* 내 정보 수정 폼 -- myInfo */
.flex_group{
    flex-direction: column;
}
.myInfo {
    vertical-align: middle;
}
.myInfo>label, .myInfo>input {
    display: inline;
}

.myInfo .text-err {
    margin-left: 128px;
}

.labelBox{
    display: inline-flex;
    width: 116px;
    height: 39px;
    margin-left: 10px;
}
.myInfo .label {
    position: relative;
    margin-top: 10px;
}

.myInfo input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    display: none;
}

.myInfo .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    width: 47%;
    color: #999999;
}

.myInfo .photoLabel {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #95abe6;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

.myInfo>input {
    border: none;
    border-radius: unset;
    border-bottom : 1px solid grey;
}

.myInfo .form-control {
    position: relative;
    width: 48%;
    right: 7px;
}

.email_disabled {
    margin-left: 123px;
}

.myInfo .genderBox {
    display: inline-flex;
    width: 48%;
}

.form-check-inline {
    margin-right: 3rem;
}

.labelBox_ad{
    display: inline-flex;
    width: 109px;
    height: 39px;
    margin-left: 5px;
}

.myInfo .addressBox {
    display: inline;
}

#searchAddress, #detailAddress {
    padding: 0.375rem 0.75rem;
    border: none;
    border-bottom: 1px solid gray;
}

.make_right {
    width: 82%;
    text-align: right;
}

#searchAddress {
    width: 48%;
}

#detailAddress {
    width: 58%;
}

#changeMyInfo{
    margin-left: 10px;
    width: 55%;
    height: 47px;
    background: var(--point-color);
    border: none;
    border-radius: 10px;
    color: #fff;
}

/*#changeMyInfo:hover {*/
/*    background-color: #fff;*/
/*    border: 1px solid var(--point-color);*/
/*    color: var(--point-color);*/
/*}*/

.myInfo-button-box .a{
    width: 52px;
    height: 47px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid var(--point-color);
    border-radius: 10px;
    color: var(--point-color);
}

.myInfo-button-box .a:hover {
    background: var(--point-color);
    color: #fff;
}

.myInfo-button-box a{
    margin-left: 10px;
    width: 74px;
    height: 47px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid var(--point-color);
    border-radius: 10px;
    color: var(--point-color);
}

.myInfo-button-box a:hover {
    background: var(--point-color);
    color: #fff;
}

/*인증글 목록 시작 */
.checkTitle {
    font-family: 'Gyeonggi';
    margin-bottom: 20px;
}
.my_body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    background: #fff;
}

.card{
    display: inline-block;
    position: relative;
    width: 290px;
    min-height: 400px;
    background: #fff;
    box-shadow: 15px 15px 60px rgb(0 0 0 / 15%);
    padding: 18px;
}

.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card .top .userDetails{
    display: flex;
    align-items: center;
}

.card .top .userDetails .profile_img{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .userDetails h3{
    text-align: left;
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}

.card .top .userDetails .span{
    font-size: 0.75em;
}

.dot {
    transform: scale(0.6);
    cursor: pointer;
    width: 50px;
}

.imgBx{
    position: relative;
    width: 100%;
    height: 260px;
    margin: 0 0 15px;
}

.actionBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtns img{
    max-width: 24px;
}

.actionBtns .left img{
    margin-right: 8px;
}

.actionBtns h4{
    display: inline;
}

.likes {
    text-align: left;
    font-weight: 500;
    margin-top: 5px;
    font-size: 16px;
    color: #4d4d4f;
}

.message {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    color: #777;
    line-height: 1.5em;
    text-align: left;
}

.image_container {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
}

.image_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select_bx{
    display: flow-root;
    padding-bottom: 8px;
    padding-left: 15px;
}

.form-select{
    width: 30%;
    float: left;
}
/* 인증글 목록 끝 */

/* 내 통장 시작 */
.bankBookTable{
    width: 100%;
    height: fit-content;
    margin-top: 10px;
}

.bankBookTable th {
    height: 20px;
    padding-bottom: 17px;
    border-bottom: 3px double #e6e6e6;
}

.bankBookTable td {
    height: 33px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.bankBookButton-box{
    width: 100%;
    margin: -7px 0 41px 30px;
    float: right;
    text-align: right;
}

.bankBookButton {
    background-color: var(--point-color);
    border:  var(--point-color) solid 1px;
    padding: 10px;
    color : white;

}

.bankBookButton:hover {
    background-color: white;
    color:  var(--point-color);
}

/* 머니 충전 페이지 */
.myBox {
    display: inline-flex;
    margin-bottom: 30px;
    border: 3px solid var(--point-color);
    padding: 30px;
}

.myBox .total {
    font-size: 18px;
    margin-right: 10px;
}

.myBox .money {
    font-size: 18px;
    font-weight: 500;
}

.moneyButton-box {
    width: 100%;
    margin-top: 20px;
}

.moneyButton {
    width: 280px;
    height: 70px;
    margin: auto;
    border:  var(--point-color) solid 1px;
    padding: 10px;
    color:  #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background: var(--point-color);
}

.moneyButton:hover{
    background: none;
}

.select_bx1 {
    margin-bottom: 48px;
    width: 100%;
    height: 36px;
    padding-bottom: 83px;
    border-bottom: 1px #e6e6e6 solid;
}

.select_bx1 .form-select{
    text-align: center;
    float: none;
    margin: auto;
}

.chargeBox .form-group {
    font-size: 25px;
    font-weight: bold;
}

.pay {
    margin-bottom: 48px;
    width: 100%;
    padding-bottom: 39px;
    border-bottom: 1px #e6e6e6 solid;
}

.pay input{
    margin-bottom: 18px;
}

/* 찜한 팀 리스트 목록 - myLikeList*/
.oneTeam {
    position: relative;
    width: 210px;
    height: 330px;
    display: inline-block;
    overflow: hidden;
}

.oneTeam .team_img {
    position: relative;
    width: 200px;
    height: 250px;
    border: 1px solid #e6e6e6;
    margin: 15px auto;
}

.oneTeam .team_img .heartBox{
    position: relative;
    top:0;
    text-align: right;
}

.oneTeam .team_img .heartBox img {
    width: 28px;
    margin: 5px 5px;
    cursor: pointer;
}

.noList{
    margin-top: 130px;
    font-weight: 500;
    font-size: 18px;
}

.oneTeam .teamName {
    font-family: 'LG SemiBold';
}

.nowPage{
    color: var(--point-color);
    font-weight: 500;
    text-decoration: underline;
}