
.middle-container{
    padding-top : 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: #2b542c dashed 1px;
}

.myTeamTable {
    margin : auto;
    width: 1000px;
    table-layout: fixed;
}

.subTitle {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    width : 60%;
    text-align: left;
    border-bottom: #337ab7 solid 1px;
}

.button-box {
    width: 40%;
    margin-top : 30px;
    float: right;
}
.button {
    border-bottom: #337ab7 solid 1px;
    padding: 10px;
}

.button:hover {
    background-color: #337ab7;
    color : white;
}

.form-group {
    margin-bottom: 30px;
}

.myInfo>label, .myInfo>input {
    display: inline;
}

.myInfo .form-control {
    width: 30%;
}