
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.middle-container{
    padding-top : 100px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.topless-middle-container{
    padding-top : 65px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.topless2-middle-container{
    padding-top : 122px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: #2b542c dashed 1px;
}

/* 문의게시판 리스트 시작 */
.myAskTable {
    margin : auto;
    width: 93%;
    table-layout: fixed;
}

th {
    padding-bottom: 5px;
    font-size : 18px;
}

.tableHead {
    border-bottom: double #4d4d4f;
}

.tableBody {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
}

.tableBody:hover{
    color: white;
    background-color: var(--point-color);
}

.tableBody:last-child {
    border-bottom: double #4d4d4f;
}

.tableBody a:hover{
    color:white;
}

.askButton-box{
    width: 40%;
    margin-top : 30px;
    margin-right: 30px;
    float: right;
    text-align: right;
}

.askButton {
    border:  var(--point-color) solid 1px;
    padding: 10px;
    color:  var(--point-color);
}

.askButton:hover {
    background-color: var(--point-color);
    color : white;
}

.myAsk{
    display: inline-block;
    width: 55%;
    position: relative;
    left: 147px;
}

.page-num ul{
    display: inline-flex;
    padding-top: 20px;
}

.page-num ul li {
    width: 38px;
}

.page-num img{
    width: 35px;
}

.listNumber{
    padding-top: 8px;
}
/* 문의게시판 리스트 끝 */

/* 문의게시판 상세페이지 시작 */
.top-box{
    height: 80px;
}

.content-box {
    text-align: left;
    width: 60%;
    height: 200px;
    margin: auto;
    border: 1px solid #e6e6e6;
}

.subTitle {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    width : 60%;
    text-align: left;
    padding: 10px;
    border-bottom: var(--point-color) solid 1px;
}

.time {
    float: right;
    position: relative;
    right: 182px;
    padding: 10px 0;
}

.askDetail-button-box{
    width: 60%;
    height: 32px;
    margin: 10px auto;
    border-bottom: var(--point-color) dashed 1px;
}

.askDetail-button-box .left{
    float: left;
}

.askDetail-button-box .right{
    float: right;
}

.askDetail-button-box .button {
    border:none;
    padding: 8px;
}

.askDetail-button-box .button:hover {
    background-color:  var(--point-color) ;
    color : white;
}

/*- 댓글 목록 -*/
.reply-box{
    height: auto;
}

.reply {
    width: 60%;
    margin: auto auto 5px;
    border: 1px solid #e6e6e6;
    padding: 8px 0 8px 0;
}

.reply-box .span {
    text-align: left;
    margin: 10px 190px;
}

.oneReply {
    width: 97%;
    height: 60px;
    margin: auto auto 5px;
    border: 1px solid #e6e6e6;
    padding: 7px 0 7px 0;
}

.replyInfo {
    display : inline;
}

.replyInfo .nickname{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color : var(--point-color);
    font-weight: 500;
}

.reply .date{
    float: right;
    margin-right: 10px;
    color: gray;
    font-size: 16px;
}

.oneReply .content{
    width: 100%;
    float: left;
    text-align: left;
    margin: 5px 10px;
    color: darkslategray;
    font-size: 17px;
}

/*- 댓글 쓰기 -*/
.replyWrite {
    width: 60%;
    margin: auto auto 30px;
    border : 1px solid #e6e6e6;
    padding: 15px 0 20px 0;
}

.replyNick {
    display: block;
    width: 96px;
    border: none;
    background: none;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 11px;
}

.replyBottom {
    display: inline-block;
    width: 97%;
}

.replyBottom input[type=text]{
    width: 92%;
    float: left;
}

.replyBottom input[type=submit]{
    border: none;
    background: none;
    padding-top: 8px;
}
/* 문의게시판 상세페이지 끝 */

/* 가입 팀 리스트 시작 */
.myTeamTable {
    margin : auto;
    width: 93%;
    table-layout: fixed;
}

.teamTitle {
    margin-bottom: 20px;
}

.sort-btn-box {
    display: block;
    font-weight: 600;
    color: var(--point-color);
    font-size: 17px;
}

.sort-btn-box .left{
    float : left;
    margin: 0 50px 6px 50px;
    padding: 10px 0 20px 0px;
}

.sort-btn-box .right{
    display: flex;
    float: right;
    padding: 10px 0 20px 0px;
    margin: 0 75px 6px 50px;
}

.sort-btn-box .line {
    padding: 0 10px;
    color: #4d4d4f;
}

.sort-btn-box a:hover{
    color: white;
    background-color: var(--point-color);
}
/* 가입 팀 리스트 끝 */

.button-box {
    width: 40%;
    margin-top : 30px;
    float: right;
    text-align: right;
}

.button {
    border: var(--point-color) solid 1px;
    padding: 10px;
}

.button:hover {
    background-color:  var(--point-color) ;
    color : white;
}

/* 내 정보 보기 전 비밀번호 확인 - myInfoMain */
.form-group {
    margin-bottom: 30px;
}

#check_password_email{
    width: 40%;
    margin: auto;
}

.checkPw {
    margin-top:103px;
}

.myInfo>label, .myInfo>input {
    display: inline;
}

.myInfo .form-control {
    width: 30%;
}

/*인증글 목록 시작 */
.checkTitle {
    margin-bottom: 20px;
}
.my_body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    background: #fff;
}

.card{
    display: inline-block;
    position: relative;
    width: 290px;
    min-height: 400px;
    background: #fff;
    box-shadow: 15px 15px 60px rgb(0 0 0 / 15%);
    padding: 18px;
}

.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .userDetails{
    display: flex;
    align-items: center;
}

.card .top .userDetails .profile_img{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .userDetails h3{
    text-align: left;
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}

.card .top .userDetails .span{
    font-size: 0.75em;
}

.dot {
    transform: scale(0.6);
    cursor: pointer;
    width: 80px;
}

.imgBx{
    position: relative;
    width: 100%;
    height: 260px;
    margin: 0px 0 15px;
}

.actionBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtns img{
    max-width: 24px;
}

.actionBtns .left img{
    margin-right: 8px;
}

.actionBtns h4{
    display: inline;
}

.likes {
    text-align: left;
    font-weight: 500;
    margin-top: 5px;
    font-size: 16px;
    color: #4d4d4f;
}

.message {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    color: #777;
    line-height: 1.5em;
    text-align: left;
}

.image_container img{
    width: 100px;
}

.select_bx{
    display: flow-root;
    padding-bottom: 8px;
    padding-left: 15px;
}

.form-select{
    width: 30%;
    float: left;
}
/* 인증글 목록 끝 */

