#features{
	text-align: center;
}

.team_check_container{
    width: 70%;
    margin: 20px auto 100px;
}

.team_check_container_narrow {
    margin: 30px auto 120px;
    width: 50%;
}

/* 인증글 리스트 시작 */
.checkTitle {
    margin-bottom: 20px;
}
.my_body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    background: #fff;
}

.card{
    display: inline-block;
    position: relative;
    width: 290px;
    min-height: 400px;
    background: #fff;
    box-shadow: 15px 15px 60px rgb(0 0 0 / 15%);
    padding: 18px;
    margin: 10px;
}

.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card .top .userDetails{
    display: flex;
    align-items: center;
}

.card .top .userDetails .profile_img{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
    border: 1px solid #e6e6e6;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .userDetails h5{
    text-align: left;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
    font-size: 18px;
}

.card .top .userDetails h3{
    text-align: left;
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}

.card .top .userDetails .span{
    font-size: 0.75em;
}

.dot i {
    transform: scale(0.6);
    cursor: pointer;
    font-size: 50px;
}

.imgBx{
    position: relative;
    width: 100%;
    height: 260px;
    margin: 0 0 15px;
}

.actionBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtns img{
    max-width: 24px;
}

.actionBtns .left img{
    margin-right: 8px;
}

.actionBtns h4{
    display: inline;
}

.likes {
    text-align: left;
    font-weight: 500;
    margin-top: 5px;
    font-size: 16px;
    color: #4d4d4f;
}

.message {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    color: #777;
    line-height: 1.5em;
    text-align: left;
}

.image_container img{
    width: 100px;
}

.select_bx{
    display: flow-root;
    padding-bottom: 8px;
    padding-left: 15px;
}

.form-select{
    width: 30%;
    float: left;
}

.emptyMsg {
    margin: 120px auto 30px;
}

.emptyMsg .msg1{
    margin:30px;
    font-size: 22px;
    font-weight: 500;
}

.button-box{
    width: 100%;
    font-size: 22px;
    margin: 15px auto;
}

.btn-sol{
    background-color: var(--point-color);
    color: #fff;
    padding: 11px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

.btn-sol:hover{
    background-color: var(--point-light);
    color: #fff;
    border: 1px solid var(--point-light);
}

.page-num ul{
    margin-top: 20px;
}

/* 인증글 리스트 끝 */

/* 인증글 작성 폼 시작 */


/* 인증글 작성 폼 끝 */