/* 메인 컨테이너 */
.mainContainer {
	width: 60%;
	margin: 0 auto;
}

/* 메인 컨테이너 밑 form감싸는 태그 */
.formContainer{
	margin: 0 auto;
}

/* 인풋 색상 변경 */
input {
  accent-color: #5c75bb;
}

/* 팀생성 제목 */
#teamCreateTitle {
	font-size: 2em;
	font-weight: bold;
}

/* 모집 인원 값 태그 */
#teamVolumeValue{
	font-weight: bold;
	font-size: 1.2em;
}

/* 모집 인원 range width */
#teamVolume{
	width: 100%;
}

/* 에러 인풋 박스 보더 빨간색 */
.fieldError {
	border-color: red;
}

/* 텍스트 빨간색 */
.text-err {
	color: red;
}

/* 텍스트 회색 */
.text-gray {
	color: gray;
}

/* 텍스트 볼드 */
.font-bold {
	font-weight: bold;
}

/* 텍스트 가운데 정렬 */
.text-center{
	text-align: center;
}

/* 디스플레이 감추기 */
.displayNone {
	display: none;
}

/* 이미지 미리보기 div태그 */
.image_container {
	margin: 20px 0 ;
}

/* 이미지 미리보기 이미지 태그 */
#imgTag {
	border: 1px solid;
	object-fit: cover;
}

/* 업로드 디스플레이 감추기 */
.photoDisplayNone{
	display: none;
}

.essential {
	color: red;
}

/* 팀 생성버튼 */
#teamCreateBtn {
	background-color: var(--point-color);
	color : white;
}
