#page-wrapper{
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
}

#nav ul {
	display:inline-block;
    list-style:none;
    margin:20px;
    padding:0;
}

#nav ul li {
    margin: 0 40px 1px 40px;
    padding: 0;
    border : 0;
    float: left;
    text-align: center;
}

#nav ul li a{
	text-decoration: none;
}

#nav ul li a:hover{
	font-size : 10px;
	color: #ed786a;;
}
	
#nav ul #ask a:visited{
	font-size : 10px;
	color: #ed786a;;
}

#nav ul li a span{
	font: message-box;
}

.container h1{
	font-style : oblique;
	color: #ed786a;
}

.container p {
	color: gray;
}

.container section div {
	color: black;
}

.container section div p {
	color: black;
}

#header {
	text-align: center;
	border-bottom-style: double;
}

#features{
	text-align: center;
}

.btn{
	border-color: black;
}

.btn:hover{
	color: white;
	background-color: #5c75bb;
}