#features{
	text-align: center;
}

.topless-middle-container{
    padding-top : 65px;
    padding-bottom: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
}


.bankBookTable{
    width: 100%;
    height: fit-content;
    margin-top: 10px;
}

.bankBookTable th {
    height: 20px;
    padding-bottom: 17px;
    border-bottom: 3px double #e6e6e6;
}

.bankBookTable td {
    height: 33px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.bankBookButton-box{
    width: 100%;
    margin: -7px 0 41px 30px;
    float: right;
    text-align: right;
}

.bankBookButton {
    background-color: var(--point-color);
    border:  var(--point-color) solid 1px;
    padding: 10px;
    color : white;

}

.bankBookButton:hover {
    background-color: white;
    color:  var(--point-color);
}

