.team_ask_container {
	margin: auto;
	text-align: center;
	width: 70%;
}

.team_ask_container_narrow {
	margin: 30px auto 120px;
	width: 50%;
}

/* 문의글 리스트 시작 */
.teamAskBoardTable{
	/*vertical-align: top;*/
	border-color: #dee2e6;
	width: 95%;
	border-bottom : 1px solid #e6e6e6;
	margin: auto;
}

.teamAskBoardTable thead{
	border-bottom : 3px double #e6e6e6;
	height: 40px;
}

.teamAskBoardTable td{
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
}

.askNarrow{
	width: 90px;
}

.askWide{
	width: 400px;
}

.teamAskBoardTable tbody{
	border-bottom : 2px solid #e6e6e6;
	height: 30px;
}

.bottom {
	display: flex;
	align-items: center;
}

.bottom.floatRight {
	float: right;
	margin: 26px;
}

.button-box a {
	float: right;
}

.btn-sol{
	background-color: var(--point-color);
	color: #fff;
	padding: 13px;
	border-radius: 10px;
}

.btn-sol:hover{
	background-color: #fff;
	color: #5c75bb;
	border: 1px solid #5c75bb;
}

.page-num {
	margin-left: 10px;
	margin-top: 17px;
	width: 90%;
}

.page-num ul{
	padding-left: 90px;
}
/* 문의글 리스트 끝 */

/* 문의글 작성 폼 시작 */
.askForm label {
	padding: 5px 11px;
	font-size: 18px;
	font-weight: 500;
}

.askForm .form-group {
	margin-bottom: 20px;
}

.askForm .bottom {
	float: right;
}

.askForm .bottom .secret_box{
	margin-right: 20px;
}

.askForm .bottom .secret_box input{
	margin: 0 10px;
}
.askForm .btn-sol{
	padding: 10px;
	border-radius: 10px;
}

.askForm .btn-sol:hover{
	background-color: var(--point-light);
	color: #fff;
	border: 1px solid var(--point-light);
}

.askForm .floatRight a{
	padding: 12px;
	border: 1px solid var(--point-light);
	border-radius: 10px;
	background: var(--point-light);
	color: #fff;
}

.askForm .floatRight a:hover{
	border: 1px solid var(--point-color);
	background: var(--point-color);
	color: #fff;
}
/* 문의글 작성 폼 끝 */
