.container p {
	color: gray;
}

.container section div {
	color: black;
}

.container section div p {
	color: black;
}

#features{
	text-align: center;
}



/* 팀 회원 리스트 by 솔 */
.middle-container{
	padding-bottom: 100px;
	width: 60%;
	margin: auto;
}

.teamMemberTitle{
	font-family: 'Gyeonggi';
	margin-bottom: 20px;
}

body{
	font-family: 'LG Regular';
}

.memberCard{
	display: inline-flex;
	position: relative;
	width: 200px;
	height: 82px;
	border: 1px solid #e6e6e6;
	border-radius: 20px;
	padding: 18px;
	margin: 5px;
}

.memberCard.teamLeader {
	border: 1px solid #FFBB00;
}

.memberCard .mc_left{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.memberCard .mc_left .userDetails{
	display: flex;
	align-items: center;
}

.memberCard .mc_left .userDetails .profile_img{
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 8px;
	border: 1px solid #e6e6e6;
}

.cover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.memberCard .mc_right .userInfo {
	text-align: left;
}
.memberCard .mc_right .userInfo .nickAuth {
	display: inline-flex;
}

.memberAuth{
	color: #FFBB00;
	padding: 0 10px;
	font-size: 18px;
	line-height: 1em;
}

.memberCard .mc_right .userInfo h3{
	font-size: 16px;
	color: #4d4d4f;
	font-weight: 500;
	line-height: 1em;
}
