<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 -->
<th:block layout:fragment="content">
	<!-- main -->
	<div class="mainContainer">
		<section class="slidesSection">
			슬라이드이미지 ?
		</section>
		<section class="searchSection">
			<div class="mainSearch">
			<div class="mainSearchTitle" align="center">모두의 습관</div>
				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/search" method="get" onsubmit="return searchChk()">
					<div class="mainSearchInput">
						<input type="search" class="form-control" id="mainSearch" placeholder="지키고 싶은 습관을 입력해보세요 :)" aria-label="Search" name="keyword">
						<input type="submit" class="mainSearchImg" name="submit" value="">
					</div>
				</form>
			</div>
		</section>
		<section class="mainSection">
			팀 리스트
		</section>
	</div>
	<div>
		<a href="" th:href="@{/admin}">관리자페이지</a>
	</div>
	<script type="text/javascript">
		/*검색창 submit체크*/
		function searchChk() {
				var text = $('#mainSearch').val();
				if(text == "" || text == null) {
					return false;
				}
			}
	</script>
</th:block>
</body>
</html>