<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_teamPage}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/teamCheck.css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
	<section id="feature">
		<div class="team_check_container_narrow checkForm">
<!--			<h2 class="text-primary" align="center">인증 하기</h2>-->
			<form th:action="@{/teams/teamCheckBoard/checkBoardWriteForm/createTeamCheck(tno=${team.tno})}" th:object="${teamCheck}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label th:for="team">인증팀</label>
					<input type="text" id="team" name="team" class="form-control" th:value="${team.teamName}">
				</div>
				<div class="form-group">
					<label th:for="nickname">작성자</label>
					<input type="text" id="nickname" name="nickname" class="form-control" th:value="${member.nickname}">
				</div>
				<div class="form-group">
					<label th:for="checkContent">인증내용</label>
					<input type="text" th:field="*{checkContent}" class="form-control" placeholder="제목을 입력하세요">
				</div>
				<div class="form-group">
					<label th:for="checkPhoto">인증사진</label>
					<input type="file" class="form-control" name="checkPhoto" id="checkPhoto">
				</div>
				<button type="submit" class="btn btn-primary">인증</button>
			</form>
			<div>
				<a th:href="@{/teams/teamCheckBoard(tno=${team.tno})}" class="btn btn primary">목록</a>
			</div>
		</div>
	</section>
</th:block>
</body>
</html>
