<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/createTeamForm.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 본문 코드 시작 -->
<th:block layout:fragment="content">
	<div class="mainContainer">
		<div class="col-md-7 col-lg-8 formContainer">
			<h4 class="mb-3 text-center">팀 생성하기</h4>
			<form class="needs-validation" role="form" th:action="@{/teams/createTeam}" th:object="${teamForm}"
				  method="post" name="frm" onsubmit="return submitChk()">
				<div class="row g-3">
					<div class="col-12">
						<label for="teamName" class="form-label font-bold">팀명<span class="essential">*</span></label>
						<span clath:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}" class="text-err"></span><!--name에 관련된 에러가 있으면 에러메세지 출력 -->
						<span class="text-err" id="teamNameErr"></span>
						<span class="text-err" id="teamNameChk"></span>
						<input type="text" class="form-control width80" th:field="*{teamName}" placeholder="팀명을 입력하세요." maxlength="14"
							 th:class="${#fields.hasErrors('teamName')}? 'form-control fieldError' : 'form-control'"><!-- fieldError : css임 -->
					</div>
					
					<div class="col-12">
						<label for="teamVolume" class="form-label font-bold">모집 인원<span class="essential">*</span></label>
						<input type="range" class="form-control" th:field="*{teamVolume}" min="2" max="100">
						<div id="teamVolumeValue" align="center"></div>
					</div>
					
					<div class="col-12">
						<label for="teamCategory1" class="form-label font-bold">습관 대분류<span class="essential">*</span></label>
						<span id="teamCategoryErr" class="text-err"></span>
						<select class="form-select text-center" th:field="*{teamCategory1}">
							<option value="0" class="text-gray" selected>====카테고리 선택====</option>
							<option value="공부">공부</option>
							<option value="운동">운동</option>
							<option value="습관">습관</option>
							<option value="ETC">기타 등등</option>
						</select>
					</div>
					
					<div class="teamCategory2Groups">
						<div class="col-12">
							<label for="teamCategory2" class="form-label font-bold displayNone" id="teamCategory2Label">습관 중분류</label><br>
							<span id="teamCategoryErr" class="text-err"></span>
							<div id="teamCategory2Study" class="study displayNone">
								<label><input class="form-check-input" type="checkbox" value="개인" th:field="*{teamCategory2}">개인</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="회사" th:field="*{teamCategory2}">회사</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="공무원" th:field="*{teamCategory2}">공무원</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="자격증" th:field="*{teamCategory2}">자격증</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="ETC" th:field="*{teamCategory2}">기타 등등</label>
							</div>
							
							<div id="teamCategory2Exercise" class="exercise displayNone">
								<label><input class="form-check-input" type="checkbox" value="헬스" th:field="*{teamCategory2}">헬스</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="요가" th:field="*{teamCategory2}">요가</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="생활체육" th:field="*{teamCategory2}">생활체육</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="필라테스" th:field="*{teamCategory2}">필라테스</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="ETC" th:field="*{teamCategory2}">기타 등등</label>
							</div>
							
							<div id="teamCategory2Habit" class="habit displayNone">
								<label><input class="form-check-input" type="checkbox" value="식습관" th:field="*{teamCategory2}">식습관</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="생활습관" th:field="*{teamCategory2}">생활습관</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="수면습관" th:field="*{teamCategory2}">수면습관</label>&nbsp;&nbsp;
								<label><input class="form-check-input" type="checkbox" value="ETC" th:field="*{teamCategory2}">기타 등등</label>
							</div>
						</div>
					</div>
					
					<div class="col-12">
						<label for="teamSubcategory" class="form-label font-bold displayNone" id="teamCategory3Label">습관 소분류</label>
						<span id="teamCategory3Err" class="text-err"></span>
						<div id="teamCategory3Div" class="displayNone">
							<input type="text" class="form-control" th:field="*{teamCategory3}" placeholder="팀 검색에 도움이 됩니다! (최대 10글자)" maxlength="10">
						</div>
					</div>
					
					<div class="col-12">
						<label for="teamDeposit" class="form-label font-bold">예치금<span class="essential">*</span></label>
						<span id="teamDepositErr" class="text-err"></span>
						<select class="form-select text-center" th:field="*{teamDeposit}" >
							<option value="0" class="text-gray" disabled selected>====인당 예치금 선택====</option>
							<option value="1">10,000￦</option>
							<option value="2">20,000￦</option>
							<option value="3">30,000￦</option>
							<option value="4">40,000￦</option>
							<option value="5">50,000￦</option>
							<option value="6">60,000￦</option>
							<option value="7">70,000￦</option>
							<option value="8">80,000￦</option>
							<option value="9">90,000￦</option>
							<option value="10">100,000￦</option>
						</select>
					</div>

					<div class="col-12">
						<label for="startDate" class="form-label font-bold">습관 시작일<span class="essential">*</span></label>
						<span clath:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-err"></span>
						<span id="startDateErr" class="text-err"></span>
						<input type="date" class="form-control" th:field="*{startDate}"
							   th:class="${#fields.hasErrors('startDate')}? 'form-control fieldError' : 'form-control'">
					</div>

					<div class="col-12">
						<label for="endDate" class="form-label font-bold">습관 종료일<span class="essential">*</span></label>
						<span clath:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-err"></span>
						<span id="endDateErr" class="text-err"></span>
						<input type="date" class="form-control" th:field="*{endDate}"
							   th:class="${#fields.hasErrors('endDate')}? 'form-control fieldError' : 'form-control'">
					</div>

					<div class="col-12">
						<label for="teamPhoto" class="form-label font-bold">팀 소개 사진</label>
						<input type="file"	class="form-control" th:field="*{teamPhoto}">

					</div>

					<div class="col-12">
						<label for="teamIntroduce" class="form-label font-bold">팀 소개 글</label><span class="essential">*</span>  (<span id="nowText">0</span>/500글자)
						<span clath:if="${#fields.hasErrors('teamIntroduce')}" th:errors="*{teamIntroduce}" class="text-err"></span>
						<textarea  class="form-control" rows="8" cols="82" th:field="*{teamIntroduce}" maxlength="500"
								   placeholder="팀 소개 내용을 입력하세요 :)" onkeyup="fn_checkText(this)"
								   th:class="${#fields.hasErrors('teamIntroduce')}? 'form-control fieldError' : 'form-control'"></textarea>
					</div>
				</div>

				<hr class="my-4">

				<button class="w-100 btn btn-primary btn-lg" type="submit">팀 생성하기</button>
			</form>
		</div>
	</div>

	<script type="text/javascript">

		/* 습관 시작일 기본값 오늘날짜로 하는 함수 */
		/* document.getElementById('startDate').valueAsDate = new Date(); */

		/* 모집 인원 값 보여주기*/
		var slider = document.getElementById("teamVolume");
		var output = document.getElementById("teamVolumeValue");
		output.innerHTML = slider.value + "명";

		slider.oninput = function() {
			output.innerHTML = this.value + "명";
		}


		
		/*textarea 글자 수 체크*/
		function fn_checkText(obj){
			const maxText = 500; //최대 1000바이트
			const text_val = obj.value; //입력한 문자
			const text_len = text_val.length; //입력한 문자수

			let totalText=0;
			for(let i=0; i<text_len; i++){
				const each_char = text_val.charAt(i);
				const uni_char = escape(each_char) //유니코드 형식으로 변환
				if(uni_char.length>0){
					totalText += 1;
				}
			}

			if(totalText>maxText){
				alert('최대 500글자까지만 입력가능합니다.');
				document.getElementById("nowText").innerText = totalText;
				document.getElementById("nowText").style.color = "red";
			}else{
				document.getElementById("nowText").innerText = totalText;
				document.getElementById("nowText").style.color = "black";
			}
		}

		/* submit체크*/
		function submitChk() {
			/* 카테고리 확인 함수 */
			var teamCategory = document.getElementById("teamCategory1");
			var teamCategoryErr = document.getElementById("teamCategoryErr");

			if (teamCategory.value == "0") {
				var teamCategoryErrText = "습관 대분류는 필수 선택사항 입니다. :)";
				teamCategoryErr.innerText=teamCategoryErrText;
				teamCategory.focus();
				return false;
			}
			
			/* 예치금 확인 */
			var teamDeposit = document.getElementById("teamDeposit");
			var teamDepositErr = document.getElementById("teamDepositErr");

			if (teamDeposit.value == "0") {
				var teamDepositErrText = "예치금은 필수 선택사항 입니다. :)";
				teamDepositErr.innerText=teamDepositErrText;
				teamDeposit.focus();
				return false;
			}

			/* 습관 시작/종료일 확인 */
			var startDate = document.getElementById("startDate");
			var endDate = document.getElementById("endDate");
			var dateErr = document.getElementById("dateErr");

			if (startDate.value == "" || endDate.value == "") {
				var startDateErrText="습관 시작일과 습관 종료일은 필수 선택사항 입니다. :)";
				startDateErr.innerText=startDateErrText;
				endDate.focus();
				return false;
			}

			if (startDate.value == endDate.value || startDate.value > endDate.value) {
				var endDateErrText="습관 종료일이 습관 시작일보다 같거나 클 수 없습니다. :)";
				endDateErr.innerText=endDateErrText;
				endDate.focus();
				return false;
			}
		}
		
		/* 아이디 중복체크/팀명 정규표현식 */
		$(function() { 
			$('#teamName').focus();
			$('#teamName').blur(function() {
				var teamName = $('#teamName').val();
				var regex = /^[가-힣a-zA-Z0-9]{2,14}$/;	//한글,영문(대/소문자),숫자만 가능한 2~14글자 정규표현식
				$.ajax({
					type : "get",
					url : '/teams/nameChk',
					data : {	"teamName" : teamName},
					success : function(data) { //data : /teams/nameChk에서 넘겨준 결과값
						if (teamName == "") {
							$('#teamNameChk').text("팀명을 입력해 주세요!");
						} else if(!regex.test(teamName)) {
							$('#teamNameChk').text("2~14자의 한글, 영문 대/소문자, 숫자만 사용 가능합니다.");
							$('#teamName').val("");
							$('#teamName').focus();
						} else {
							$('#teamNameChk').html(data);
						}
					}
				})
			})
		});
		
		/* 카테고리3 디스플레이 감추기, 카테고리2 체크해제 */
		function category3displayNoneCategory2uncheck() {
			$('#teamCategory3Label').addClass('displayNone');	//소분류 라벨 감추기
			$('#teamCategory3Div').addClass('displayNone');	// 소분류 input 감추기
			$('#teamCategory3').val('');	// 소분류 input값 없애기
			$("input:checkbox[name='teamCategory2']").prop("checked", false); //다른 카테고리 체크 되어있는것 해제
		}
		
		/* 카테고리 display */	
		$(function() {
			$('#teamCategory1').change(function() {	// 대분류 선택하면
				$('#teamCategory2Label').removeClass('displayNone');	//중분류 디스플레이 보이게
				if($('#teamCategory1').val() == "공부") {	//대분류 중 공부 선택
					$('.study').removeClass('displayNone');	//공부 디스플레이 보이게
					category3displayNoneCategory2uncheck();
					$('.exercise, .habit').addClass('displayNone');	//운동 디스플레이 감추기
				} else if ($('#teamCategory1').val() == "운동") {	//대분류 중 운동 선택
					$('.exercise').removeClass('displayNone');	//운동 디스플레이 보이게
					category3displayNoneCategory2uncheck();
					$('.study, .habit').addClass('displayNone');
				} else if($('#teamCategory1').val() == "습관") {	//대분류 중 습관 선택
					$('.habit').removeClass('displayNone');	//운동 디스플레이 보이게
					category3displayNoneCategory2uncheck();
					$('.study, .exercise').addClass('displayNone');
				} else if($('#teamCategory1').val() == "ETC") {	// 대분류 중 기타 등등 선택
					$('#teamCategory3Label').removeClass('displayNone');
					$('#teamCategory3Div').removeClass('displayNone');
					$('#teamCategory3').val('');	// 소분류 input값 없애기
					$('.study, .exercise, .habit').addClass('displayNone');
				}
				$(function() {	//중분류 체크하면 소분류 보이게 하기
					$('#teamCategory2Exercise, #teamCategory2Study, #teamCategory2Habit').change(function() {
						$('#teamCategory3Label').removeClass('displayNone');
						$('#teamCategory3Div').removeClass('displayNone');
						if ($(tag_name[name='teamCategory2']).checked == null) {
							$('#teamCategory3Label').addClass('displayNone');
							$('#teamCategory3Div').addClass('displayNone');
						}
					});
				});
			});
		});
		
		/* 카테고리3 공백사용 금지 */
		$(function() {
			$('#teamCategory3').blur(function() {
				var teamCategory3 = $('#teamCategory3').val();
			    var space = /\s/;  // 공백체크
			    if(space.exec(teamCategory3)) {//공백 체크
			    	$('#teamCategory3Err').text("공백은 사용할 수 없습니다!");
			    }
			});		
		});
	</script>
</th:block>
</body>
</html>