<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Insert title here</title>
</head>
<body>
	<!-- 본문 코드 시작 -->
	<th:block layout:fragment="content">
		<div class="container" align="center">
			<h2 class="text-primary">문의글 상세조회</h2>
			<table class="table table-striped">
				<tr>
					<th>글번호</th>
					<td th:text="${teamAskOne.tano}"></td>
					<th>작성자</th>
					<td th:text="${findMember.nickname}"></td>
				</tr>
				<tr>
					<th>작성일</th>
					<td th:text="${teamAskOne.teamAskDate}"></td>
					<th>조회수</th>
					<td th:text="${teamAskOne.teamAskReadCount}"></td>
				</tr>
				<tr>
					<th>제목</th>
					<td colspan="3" th:text="${teamAskOne.teamAskSubject}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td colspan="3"><pre>
							<span th:text="${teamAskOne.teamAskContent}"></span>
						</pre></td>
				</tr>
			</table>
			<div class="input-group mb-3">

				<form id="reply" action="/reply_write" method="post">
					<input type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.."
						aria-describedby="basic-addon2"> 
						<!-- <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}"> -->
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit">등록</button>
					</div>
				</form>
			</div>
			<div>
				<a href="/teams/teamAskBoard" class="btn btn-success">게시글 목록</a>
			</div>	
			</div>
	</th:block>
</body>
</html>