<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Insert title here</title>
<link rel="stylesheet" href="/css/teamList.css" />
<style type="text/css">
	ul {align-items: flex-end;}
</style>
</head>
<body class="homepage is-preload">
	<!-- 본문 코드 시작 -->
	<th:block layout:fragment="content">
		<div id="page-wrapper">
			<!-- Header -->
		<section id="header">
			<div class="container">
			
				<!-- Logo -->
				<h1 th:text="${team.teamName}"></h1>
				<p>for the sake of everyone's habits.</p>
			
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li id="introduce"><a th:href="@{/teams/teamPage(tno=${team.tno})}"><span>소개</span></a></li>
						<li id="ask"><a th:href="@{/teams/teamAskBoard(tno=${team.tno})}"><span>문의하기</span></a></li>
						<li id="check"><a th:href="@{/teams/teamCheckBoard(tno=${team.tno})}"><span>인증게시판</span></a></li>
						<li id="list"><a th:href="@{/teams/teamMemberList(tno=${team.tno})}"><span>가입 회원</span></a></li>
					</ul>
				</nav>					
			</div>
		</section>
		<br>
			<!-- checkBoard -->
			<section id="features">
				<div class="container">
					<h2 class="text-primary" align="center">회원 목록</h2>		
					<table class="table table-striped">
						<thead>
							<tr>
								<th>회원사진</th>
								<th>회원이름</th>
								<th>인증횟수</th>
								<th>직책</th>					
							</tr>
						</thead>
						<tbody>
							<tr th:each="teamMember : ${team.teamMember}" th:if="${teamMember.teamMemberDelete.toString == 'FALSE'}">						
								<th><img th:src="'images/'+${teamMember.member.email}+'/'+${teamMember.member.photo}" th:alt="프로필사진"></th>							
								<th th:text="${teamMember.member.nickname}"></th>
								<th th:text="${checkBoard.size()}"></th>
								<th th:if="${team.teamLeader} == ${teamMember.member.nickname}" th:text="스터디장"></th>
								<th th:if="${team.teamLeader} != ${teamMember.member.nickname}" th:text="일반회원"></th>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</th:block>
</body>
</html>