<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Insert title here</title>
<link rel="stylesheet" href="/css/teamMain.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css">
	ul {align-items: flex-end;}
</style>
</head>
<body class="homepage is-preload">
	<!-- 본문 코드 시작 -->
	<th:block layout:fragment="content">
		<div id="page-wrapper">
			<!-- Header -->
		<section id="header">
			<div class="container">
			
				<!-- Logo -->
				<h1 th:text="${team.teamName}"></h1>
				<p>for the sake of everyone's habits.</p>
			
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a th:href="@{/teams/teamPage(tno=${team.tno})}"><span>소개</span></a></li>
						<li><a th:href="@{/teams/teamAskBoard(tno=${team.tno})}"><span>문의하기</span></a></li>
						<li><a class="icon solid fa-cog" th:href="@{/teams/teamCheckBoard(tno=${team.tno})}"><span>인증게시판</span></a></li>
						<li><a class="icon solid fa-retweet" th:href="@{/teams/teamMemberList(tno=${team.tno})}"><span>가입 회원</span></a></li>
					</ul>
				</nav>				
			</div>
		</section>
		<br>
			<!-- checkBoard -->
			<section id="features">
				<div class="container">
					<h2 class="text-primary" align="center">회원 목록</h2>		
					<table class="table table-striped">
						<thead>
							<tr>
								<th>회원이름</th>
								<th>성별</th>
								<th>주소</th>
								<th>휴대폰</th>								
							</tr>
						</thead>
						<tbody>
							<tr th:each="teamMember : ${team.teamMember}">							
								<th th:text="${teamMember.member.nickname}"><img th:src=""></th>
								<th th:text="${teamMember.member.gender}"></th>
								<th th:text="${teamMember.member.address}"></th>
								<th th:text="${teamMember.member.phone}"></th>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</th:block>
</body>
</html>