<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Insert title here</title>
<style type="text/css">

	.input-group {
		display: table-footer-group;
	}
	.replybox {
	display: flex;
	}
	
	#click{
	 margin-bottom: 10px;
	}
</style>
</head>
<body>
	<!-- 본문 코드 시작 -->
	<th:block layout:fragment="content">
		<div class="container" align="center">
			<h2 class="text-primary">문의글 상세조회</h2>
			<table class="table table-striped">
				<tr>
					<th>글번호</th>
					<td th:text="${teamAskOne.tano}"></td>
					<th>작성자</th>
					<td th:text="${teamAskOne.member.nickname}"></td>
				</tr>
				<tr>
					<th>작성일</th>
					<td th:text="${teamAskOne.teamAskDate}"></td>
					<th>조회수</th>
					<td th:text="${teamAskOne.teamAskReadCount}"></td>
				</tr>
				<tr th:if="${teamAskOne.secret.toString == 'PUBLIC'}">
					<th>제목</th>
					<td colspan="3" th:text="${teamAskOne.teamAskSubject}"></td>
				</tr>
				<tr th:if="${teamAskOne.secret.toString != 'PUBLIC'}">
					<th>제목</th>
					<td colspan="3" th:text="'🔒'+${teamAskOne.teamAskSubject}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td colspan="3"><pre>
							<span th:text="${teamAskOne.teamAskContent}"></span>
						</pre></td>
				</tr>
			</table>
			<div id="click">
				<a th:href="@{/teams/teamAskBoard(tno=${team.tno})}" class="btn btn-success">게시글 목록</a>
				<a th:if="${loginMember.nickname} == ${teamAskOne.member.nickname}" th:href="@{/teams/teamAskBoard/updateForm(tano=${teamAskOne.tano}, tno=${team.tno})}" class="btn btn-primary">수정</a>
				<a th:if="${loginMember.nickname} == ${teamAskOne.member.nickname}" th:href="@{/teams/teamAskBoard/delete(tano=${teamAskOne.tano}, tno=${team.tno})}" class="btn btn-warning">삭제</a>
				
			</div>	
			<div>
				<table class="table table-striped" th:if="${!teamAskOne.teamAskBoardReplies.isEmpty()}">
					<thead>
						<tr>
							<th>작성자</th>
							<th>내용</th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="replys : ${teamAskOne.teamAskBoardReplies}">				
							<th th:text="${replys.member.nickname}" style="width: 100px;"></th>
							<th th:text="${replys.teamAskReplyContent}" style="width: 550px;  text-align: left;"></th>
							<th th:text="${#temporals.format(replys.teamAskReplyDate,'yyyy-MM-dd HH:mm')}" style="width: 200px;"></th>
							<th th:if="${loginMember.nickname} == ${replys.member.nickname}" style="width: 100px;">
								<a th:href="@{/teams/teamAskBoard/teamAskBoardDetail/updateTeamAskReply}" style="text-decoration: none;">수정</a>&nbsp;&nbsp;
								<a th:href="@{/teams/teamAskBoard/teamAskBoardDetail/deleteTeamAskReply}" style="text-decoration: none;">삭제</a></th>												
							<th th:if="${loginMember.nickname} != ${replys.member.nickname}"></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="input-group">
				<form th:action="@{/teams/teamAskBoard/teamAskBoardDetail/createTeamAskReply(tno=${team.tno})}" th:object="${teamAskReply}" method="post">
				<input type="hidden" id="tano" name="tano" th:value="${teamAskOne.tano}">
				<div class="replybox">
					<input type="text" id="nickname" name="nickname" class="form-control" th:value="${loginMember.nickname}" style="text-align: center;">
					<input type="text" th:field="*{teamAskReplyContent}" class="form-control" placeholder="댓글을 입력해주세요.."  aria-describedby="basic-addon2"> 
					<button class="btn btn-outline-secondary" type="submit">등록</button>
				</div>
				</form>
			</div>
		</div>
	</th:block>
</body>
</html>